## Importing the required data

- upload jobs residency xlsx table to 'data'

In [1]:
!mkdir data

## Converting xlsx file to pandas dataframe

- install openpyxl, import load_workbook and pandas
- load xlsx workbook --> access required sheet
- convert to dataframe with .values

In [2]:
#to open xlsx files
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.5.8)
Requirement already satisfied: et-xmlfile in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.4)

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
from openpyxl import load_workbook
wb2 = load_workbook('./data/place-residence-place-work-local-authorities-uk-2011.xlsx', data_only=True)

In [6]:
ws2 = wb2["London boroughs plus regions"]

In [7]:
jobres = pd.DataFrame(ws2.values)
jobres.tail()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
53,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
54,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
55,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
56,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
57,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## Clearing dataframe

- drop last rows by slicing
- aggregate all value outside London into one 'Outside London' category with Code 'X00000000'
- make coloumn 0 and row 0 axes labels

In [8]:
jobres = jobres[:47]
jobres.tail()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
42,E12000009,None,South West,49,277,89,226,164,1431,228,...,59466,1906503,254,2055,7555,331471,3720,212957,4064,2578916
43,N92000002,None,Northern Ireland,2,39,8,12,10,102,5,...,571,399,595078,1159,432,83375,861,106460,7257,799246
44,S92000003,None,Scotland,6,31,34,29,15,191,23,...,2291,968,243,1966097,303,276628,18890,241535,7600,2527820
45,W92000004,None,Wales,29,84,37,82,59,383,49,...,5771,17296,192,1490,1041881,146089,2201,102930,1994,1372680
46,None,Total workers in workplace,None,43647,89244,54602,81732,81922,250615,88324,...,3210752,2008917,598518,1995044,1086986,3138022,63473,2513680,52954,30008634

In [9]:
reg1 = jobres[35:46]

In [10]:
tot_row = pd.DataFrame(reg1.sum()).T
tot_row[1] = 'Outside London'

In [11]:
tot_row[0].loc[0] = "X00000000"
tot_row

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,X00000000,Outside London,North EastNorth WestYorkshire and The HumberEa...,10042,17220,15370,11363,13867,51664,13837,...,3058833,2001820,598316,1993027,1085680,2750521,56467,2092486,46699,25986853

In [12]:
jobres = pd.concat([jobres, tot_row], ignore_index=True)

jobres.tail()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
43,N92000002,None,Northern Ireland,2,39,8,12,10,102,5,...,571,399,595078,1159,432,83375,861,106460,7257,799246
44,S92000003,None,Scotland,6,31,34,29,15,191,23,...,2291,968,243,1966097,303,276628,18890,241535,7600,2527820
45,W92000004,None,Wales,29,84,37,82,59,383,49,...,5771,17296,192,1490,1041881,146089,2201,102930,1994,1372680
46,None,Total workers in workplace,None,43647,89244,54602,81732,81922,250615,88324,...,3210752,2008917,598518,1995044,1086986,3138022,63473,2513680,52954,30008634
47,X00000000,Outside London,North EastNorth WestYorkshire and The HumberEa...,10042,17220,15370,11363,13867,51664,13837,...,3058833,2001820,598316,1993027,1085680,2750521,56467,2092486,46699,25986853

In [13]:
jobres.drop(35, axis=0, inplace=True)
jobres.drop(36, axis=0, inplace=True)
jobres.drop(37, axis=0, inplace=True)
jobres.drop(38, axis=0, inplace=True)
jobres.drop(39, axis=0, inplace=True)
jobres.drop(40, axis=0, inplace=True)
jobres.drop(41, axis=0, inplace=True)
jobres.drop(42, axis=0, inplace=True)
jobres.drop(43, axis=0, inplace=True)
jobres.drop(44, axis=0, inplace=True)
jobres.drop(45, axis=0, inplace=True)

jobres.drop(2, axis=1, inplace=True)

jobres.tail()

,0,1,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
32,E41000322,Waltham Forest,976,1001,100,723,144,6137,183,564,...,1056,126,4,56,53,9270,154,18384,100,121461
33,E41000323,Wandsworth,36,431,81,738,348,8626,1480,1241,...,6714,334,7,72,46,16863,328,13949,266,179439
34,E41000324,"Westminster,City of London",33,712,36,1506,108,7593,164,1080,...,2436,264,8,52,25,16762,516,7972,537,117303
46,None,Total workers in workplace,43647,89244,54602,81732,81922,250615,88324,97801,...,3210752,2008917,598518,1995044,1086986,3138022,63473,2513680,52954,30008634
47,X00000000,Outside London,10042,17220,15370,11363,13867,51664,13837,14621,...,3058833,2001820,598316,1993027,1085680,2750521,56467,2092486,46699,25986853

In [14]:
key = jobres[[0, 1]].iloc[3:35]

In [15]:
key[1].loc[34] = "Westminster" 
key

            0                       1
3   E41000293    Barking and Dagenham
4   E41000294                  Barnet
5   E41000295                  Bexley
6   E41000296                   Brent
7   E41000297                 Bromley
8   E41000298                  Camden
9   E41000299                 Croydon
10  E41000300                  Ealing
11  E41000301                 Enfield
12  E41000302               Greenwich
13  E41000303                 Hackney
14  E41000304  Hammersmith and Fulham
15  E41000305                Haringey
16  E41000306                  Harrow
17  E41000307                Havering
18  E41000308              Hillingdon
19  E41000309                Hounslow
20  E41000310               Islington
21  E41000311  Kensington and Chelsea
22  E41000312    Kingston upon Thames
23  E41000313                 Lambeth
24  E41000314                Lewisham
25  E41000315                  Merton
26  E41000316                  Newham
27  E41000317               Redbridge
28  E41000318    Richmond upon Thames
29  E41000319               Southwark
30  E41000320                  Sutton
31  E41000321           Tower Hamlets
32  E41000322          Waltham Forest
33  E41000323              Wandsworth
34  E41000324             Westminster

In [16]:
PROC_DATA_PATH = '~/library/data/processed/'
key.to_csv(PROC_DATA_PATH + 'E41key.csv')

In [17]:
jobres_t = jobres.T

jobres_t.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,46,47
0,Census Table WU01UK - Location of usual reside...,Local authority code,None,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,...,E41000317,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,None,X00000000
1,None,usual residence : 2011 census merged local aut...,None,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,...,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,"Westminster,City of London",Total workers in workplace,Outside London
3,E41000293,Barking and Dagenham,London,14650,144,323,56,135,51,90,...,4611,17,188,16,561,976,36,33,43647,10042
4,E41000294,Barnet,London,280,36031,131,6268,209,1918,270,...,627,167,488,105,445,1001,431,712,89244,17220
5,E41000295,Bexley,London,155,42,25876,37,2962,47,373,...,116,28,440,94,215,100,81,36,54602,15370

In [18]:
reg1 = jobres_t[35:45]

In [19]:
offs = jobres_t[46:47]

In [20]:
outuk = jobres_t[48:49]

In [21]:
reg1 = pd.concat([reg1, offs], join = 'inner', ignore_index=True)

In [22]:
reg1 = pd.concat([reg1, outuk], join='inner', ignore_index=True)
reg1

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,46,47
0,E12000002,None,North West,118,194,110,199,154,121,312,...,146,90,201,97,146,115,171,164,2721552,2716782
1,E12000003,None,Yorkshire and The Humber,85,92,101,115,87,73,172,...,79,84,143,68,63,88,106,84,2032224,2029193
2,E12000004,None,East Midlands,112,206,115,292,115,123,161,...,126,74,185,60,118,178,151,150,1696464,1691975
3,E12000005,None,West Midlands,147,162,141,206,173,140,281,...,192,106,257,118,128,186,203,153,2093695,2088259
4,E12000006,None,East,4330,9704,1325,3575,1041,1619,1117,...,7175,581,1254,415,1903,4813,855,1000,2112468,2020111
5,E12000008,None,South East,971,2089,10504,2581,9068,1387,14261,...,1285,8709,2611,12576,1712,1056,6714,2436,3210752,3058833
6,E12000009,None,South West,167,167,151,209,251,178,348,...,181,224,293,188,232,126,334,264,2008917,2001820
7,N92000002,None,Northern Ireland,1,1,1,18,5,8,8,...,4,4,6,4,13,4,7,8,598518,598316
8,S92000003,None,Scotland,46,55,57,53,82,73,95,...,73,37,83,36,117,56,72,52,1995044,1993027
9,W92000004,None,Wales,38,48,42,53,44,41,59,...,52,30,56,16,46,53,46,25,1086986,1085680
10,OD0000002,None,Offshore installation,95,310,90,306,180,272,232,...,185,178,269,92,271,154,328,516,63473,56467
11,OD0000004,None,Outside UK,57,343,115,197,195,265,192,...,163,272,187,124,154,100,266,537,52954,46699

In [23]:
tot_row = pd.DataFrame(reg1.sum()).T
tot_row[1] = 'Outside London'
tot_row[0].loc[0] = "X00000000"
tot_row

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,46,47
0,X00000000,Outside London,North WestYorkshire and The HumberEast Midland...,6167,13371,12752,7804,11395,4300,17238,...,9661,10389,5545,13794,4903,6929,9253,5389,19673047,19387162

In [24]:
jobres_t = pd.concat([jobres_t, tot_row], ignore_index=True)

jobres_t.tail()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,46,47
46,OD0000002,None,Offshore installation,95,310,90,306,180,272,232,...,185,178,269,92,271,154,328,516,63473,56467
47,OD0000003,None,No fixed place,10296,19791,11979,21202,14197,8722,17006,...,14113,7634,14351,10050,10282,18384,13949,7972,2513680,2092486
48,OD0000004,None,Outside UK,57,343,115,197,195,265,192,...,163,272,187,124,154,100,266,537,52954,46699
49,None,Total residents in work,Total,75493,172470,110680,148292,152363,110168,173926,...,125362,99916,147995,98207,121244,121461,179439,117303,30008634,25986853
50,X00000000,Outside London,North WestYorkshire and The HumberEast Midland...,6167,13371,12752,7804,11395,4300,17238,...,9661,10389,5545,13794,4903,6929,9253,5389,19673047,19387162

In [25]:
jobres_t[1].loc[47] = "No fixed place"
jobres_t[1].loc[45] = "Mainly work at or from home"

jobres_t.tail()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,46,47
46,OD0000002,None,Offshore installation,95,310,90,306,180,272,232,...,185,178,269,92,271,154,328,516,63473,56467
47,OD0000003,No fixed place,No fixed place,10296,19791,11979,21202,14197,8722,17006,...,14113,7634,14351,10050,10282,18384,13949,7972,2513680,2092486
48,OD0000004,None,Outside UK,57,343,115,197,195,265,192,...,163,272,187,124,154,100,266,537,52954,46699
49,None,Total residents in work,Total,75493,172470,110680,148292,152363,110168,173926,...,125362,99916,147995,98207,121244,121461,179439,117303,30008634,25986853
50,X00000000,Outside London,North WestYorkshire and The HumberEast Midland...,6167,13371,12752,7804,11395,4300,17238,...,9661,10389,5545,13794,4903,6929,9253,5389,19673047,19387162

In [26]:
jobres_t.drop(34, axis=0, inplace=True)
jobres_t.drop(35, axis=0, inplace=True)
jobres_t.drop(36, axis=0, inplace=True)
jobres_t.drop(37, axis=0, inplace=True)
jobres_t.drop(38, axis=0, inplace=True)
jobres_t.drop(39, axis=0, inplace=True)
jobres_t.drop(40, axis=0, inplace=True)
jobres_t.drop(41, axis=0, inplace=True)
jobres_t.drop(42, axis=0, inplace=True)
jobres_t.drop(43, axis=0, inplace=True)
jobres_t.drop(44, axis=0, inplace=True)
jobres_t.drop(46, axis=0, inplace=True)
jobres_t.drop(48, axis=0, inplace=True)

jobres_t.drop(2, axis=1, inplace=True)

In [27]:
jobres_t[46].loc[0] = "TOTAL_WORKERS"
jobres_t[0].loc[49] = "TOTAL_RESIDENTS"
jobres_t[0].loc[0] = "Code"
jobres_t[1].loc[0] = ""
jobres_t[1].loc[1] = ""
jobres_t[0].loc[1] = "Name"

jobres_t

,0,1,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,46,47
0,Code,,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,...,E41000317,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,TOTAL_WORKERS,X00000000
1,Name,,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,"Westminster,City of London",Total workers in workplace,Outside London
2,E41000293,Barking and Dagenham,14650,144,323,56,135,51,90,53,...,4611,17,188,16,561,976,36,33,43647,10042
3,E41000294,Barnet,280,36031,131,6268,209,1918,270,1268,...,627,167,488,105,445,1001,431,712,89244,17220
4,E41000295,Bexley,155,42,25876,37,2962,47,373,37,...,116,28,440,94,215,100,81,36,54602,15370
5,E41000296,Brent,290,5908,161,27338,199,1677,367,6238,...,492,438,640,158,386,723,738,1506,81732,11363
6,E41000297,Bromley,104,91,4846,84,41000,65,6457,78,...,186,60,1104,589,360,144,348,108,81922,13867
7,E41000298,Camden,1855,14006,2391,8735,4145,23151,3704,4956,...,4238,2978,8027,1589,6315,6137,8626,7593,250615,51664
8,E41000299,Croydon,110,131,510,189,4879,98,48412,164,...,153,194,1170,5850,219,183,1480,164,88324,13837
9,E41000300,Ealing,250,1787,177,8195,275,718,483,34302,...,421,1503,561,279,467,564,1241,1080,97801,14621
10,E41000301,Enfield,653,4457,175,678,157,415,193,330,...,1426,115,268,59,367,3422,260,190,78599,17518
11,E41000302,Greenwich,412,250,10807,221,3023,216,714,200,...,571,104,1723,163,739,535,353,144,63391,9605
12,E41000303,Hackney,1228,1866,657,953,971,1636,791,740,...,2606,416,2020,269,4410,4408,1340,1012,79498,11757
13,E41000304,Hammersmith and Fulham,433,1741,448,4349,1058,2133,1653,9360,...,869,3441,2336,1108,1633,1298,7618,2885,106523,15989
14,E41000305,Haringey,468,3965,135,829,161,793,350,296,...,1080,69,379,81,494,2868,259,272,52461,6488
15,E41000306,Harrow,60,2600,45,5199,48,367,102,2523,...,133,136,115,46,114,127,128,237,50193,10149
16,E41000307,Havering,6554,142,358,55,134,45,80,57,...,3760,22,116,28,430,740,43,58,63709,16263
17,E41000308,Hillingdon,126,971,118,2423,200,442,461,11650,...,252,2149,367,329,201,248,759,613,143012,52152
18,E41000309,Hounslow,119,757,163,1723,336,555,749,10385,...,247,7102,633,622,322,315,2550,719,105269,28923
19,E41000310,Islington,1311,5864,1432,3041,2309,5590,2202,2180,...,2842,1363,4809,886,4891,4787,4150,3073,149075,30188
20,E41000311,Kensington and Chelsea,561,2092,555,4568,1334,2371,1808,4785,...,1004,1814,3044,933,2211,1570,7481,4873,97921,12152
21,E41000312,Kingston upon Thames,35,77,77,167,207,83,1229,476,...,74,3479,317,3488,122,75,2097,131,56946,16277
22,E41000313,Lambeth,565,1295,1724,1277,3966,1447,7602,1137,...,958,1295,10253,1780,1720,1262,6759,1627,107906,16755
23,E41000314,Lewisham,211,210,3089,184,5425,170,1921,143,...,296,88,3399,314,552,361,654,163,53500,5570
24,E41000315,Merton,85,208,191,284,667,165,4123,437,...,111,846,782,7117,197,226,4768,279,55011,9211
25,E41000316,Newham,4829,601,846,435,518,370,433,374,...,7676,104,894,120,2973,4191,460,320,74050,11684
26,E41000317,Redbridge,5389,338,142,145,64,81,113,93,...,22053,19,210,30,638,3801,71,88,54141,9949
27,E41000318,Richmond upon Thames,41,383,91,522,230,303,635,1970,...,87,18671,456,812,248,145,2674,321,57322,11994
28,E41000319,Southwark,1218,2357,4177,2061,6175,2507,5387,1868,...,2315,1776,25310,1608,4057,2320,6000,2407,157768,31899
29,E41000320,Sutton,89,68,136,101,887,49,6806,114,...,63,271,347,23989,118,81,1115,63,53852,11845
30,E41000321,Tower Hamlets,4279,3461,3656,2405,4946,4192,3109,2154,...,8766,2121,7802,1216,30488,5282,6632,5897,216232,50811
31,E41000322,Waltham Forest,1292,585,241,276,219,254,197,197,...,5236,34,391,51,943,21581,187,187,52000,8261
32,E41000323,Wandsworth,235,567,599,846,1297,594,5491,1161,...,361,2128,2997,3785,700,587,23925,935,87897,10466
33,E41000324,"Westminster,City of London",6350,24662,12986,22519,22449,29719,17385,19381,...,16760,14773,34059,7927,29376,16787,46072,49438,917068,241192
45,OD0000001,Mainly work at or from home,4764,21611,8663,13058,16167,14893,15887,15343,...,11183,14156,12408,8882,9111,9270,16863,16762,3138022,2750521
47,OD0000003,No fixed place,10296,19791,11979,21202,14197,8722,17006,20284,...,14113,7634,14351,10050,10282,18384,13949,7972,2513680,2092486
49,TOTAL_RESIDENTS,Total residents in work,75493,172470,110680,148292,152363,110168,173926,165800,...,125362,99916,147995,98207,121244,121461,179439,117303,30008634,25986853
50,X00000000,Outside London,6167,13371,12752,7804,11395,4300,17238,11031,...,9661,10389,5545,13794,4903,6929,9253,5389,19673047,19387162

In [28]:
jobres_t.drop(1, axis=1, inplace=True)

In [29]:
jobres_t.drop(1, axis=0, inplace=True)
jobres_t.head()

,0,3,4,5,6,7,8,9,10,11,...,27,28,29,30,31,32,33,34,46,47
0,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000317,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,TOTAL_WORKERS,X00000000
2,E41000293,14650,144,323,56,135,51,90,53,344,...,4611,17,188,16,561,976,36,33,43647,10042
3,E41000294,280,36031,131,6268,209,1918,270,1268,6641,...,627,167,488,105,445,1001,431,712,89244,17220
4,E41000295,155,42,25876,37,2962,47,373,37,74,...,116,28,440,94,215,100,81,36,54602,15370
5,E41000296,290,5908,161,27338,199,1677,367,6238,1140,...,492,438,640,158,386,723,738,1506,81732,11363

In [30]:
jobres = jobres_t.T
jobres

,0,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,45,47,49,50
0,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
3,E41000293,14650,280,155,290,104,1855,110,250,653,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
4,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
5,E41000295,323,131,25876,161,4846,2391,510,177,175,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
6,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
7,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395
8,E41000298,51,1918,47,1677,65,23151,98,718,415,...,2507,49,4192,254,594,29719,14893,8722,110168,4300
9,E41000299,90,270,373,367,6457,3704,48412,483,193,...,5387,6806,3109,197,5491,17385,15887,17006,173926,17238
10,E41000300,53,1268,37,6238,78,4956,164,34302,330,...,1868,114,2154,197,1161,19381,15343,20284,165800,11031
11,E41000301,344,6641,74,1140,91,6241,127,664,37198,...,1859,57,2758,2193,401,13690,12531,15106,138390,11629
12,E41000302,328,317,5816,434,3329,3835,631,310,283,...,5689,210,6884,437,904,17009,9731,13612,118330,6886
13,E41000303,273,1022,91,706,130,9760,129,592,1205,...,3351,76,7259,1653,732,21861,12060,12556,119051,3803
14,E41000304,20,401,42,1162,68,4674,150,2665,156,...,1938,103,2734,115,2076,26202,10603,8112,100148,4132
15,E41000305,218,3439,62,1138,72,11983,142,776,4954,...,2582,72,3287,1404,594,21687,12640,16423,124845,5218
16,E41000306,62,5040,18,10364,51,4146,129,5024,433,...,1272,44,2182,162,355,11817,11868,12440,114755,12438
17,E41000307,7110,219,415,151,156,2112,99,180,515,...,1601,49,5416,1109,175,12294,8834,12695,113551,14732
18,E41000308,37,784,25,3052,95,2228,107,9560,207,...,879,60,1123,111,348,7790,11415,12223,130973,17442
19,E41000309,29,340,42,1155,81,2398,199,6732,135,...,1191,165,1356,94,1110,10294,11331,13131,127613,14480
20,E41000310,78,1235,51,621,103,13297,149,548,887,...,3090,62,4741,482,639,27343,10254,8768,107255,3914
21,E41000311,16,269,16,664,50,3281,127,778,120,...,1280,50,3955,98,969,27520,13968,5750,82386,3301
22,E41000312,23,121,44,202,99,1872,517,490,56,...,1318,1340,1444,32,2661,8867,9094,6934,82434,11915
23,E41000313,83,540,227,612,1007,9995,2867,775,297,...,10682,856,5540,282,8639,41618,14039,16485,167205,6450
24,E41000314,156,411,1293,475,6437,6021,2164,495,287,...,11735,512,6228,345,1958,22769,11509,14320,136570,5302
25,E41000315,37,235,58,321,319,3530,2775,579,117,...,2749,3929,2516,108,8798,16210,9609,11159,105369,7458
26,E41000316,2851,659,319,913,343,5132,269,709,1066,...,3110,125,11592,3243,864,18262,8994,21268,132787,6864
27,E41000317,4611,627,116,492,186,4238,153,421,1426,...,2315,63,8766,5236,361,16760,11183,14113,125362,9661
28,E41000318,17,167,28,438,60,2978,194,1503,115,...,1776,271,2121,34,2128,14773,14156,7634,99916,10389
29,E41000319,188,488,440,640,1104,8027,1170,561,268,...,25310,347,7802,391,2997,34059,12408,14351,147995,5545
30,E41000320,16,105,94,158,589,1589,5850,279,59,...,1608,23989,1216,51,3785,7927,8882,10050,98207,13794
31,E41000321,561,445,215,386,360,6315,219,467,367,...,4057,118,30488,943,700,29376,9111,10282,121244,4903
32,E41000322,976,1001,100,723,144,6137,183,564,3422,...,2320,81,5282,21581,587,16787,9270,18384,121461,6929
33,E41000323,36,431,81,738,348,8626,1480,1241,260,...,6000,1115,6632,187,23925,46072,16863,13949,179439,9253
34,E41000324,33,712,36,1506,108,7593,164,1080,190,...,2407,63,5897,187,935,49438,16762,7972,117303,5389
46,TOTAL_WORKERS,43647,89244,54602,81732,81922,250615,88324,97801,78599,...,157768,53852,216232,52000,87897,917068,3138022,2513680,30008634,19673047
47,X00000000,10042,17220,15370,11363,13867,51664,13837,14621,17518,...,31899,11845,50811,8261,10466,241192,2750521,2092486,25986853,19387162

In [31]:
jobres.columns = jobres.loc[0]
jobres.drop(0, axis=0, inplace=True)
jobres.head()

,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
3,E41000293,14650,280,155,290,104,1855,110,250,653,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
4,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
5,E41000295,323,131,25876,161,4846,2391,510,177,175,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
6,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
7,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395

In [32]:
jobres.set_index('Code', inplace = True)
jobres.head()

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395

## Creating new category: % working residents that work where they live
- extract relevant data on workers that work where they live
- calculate the value by dividing that + domestic workers by working residents

In [33]:
df = jobres.drop('OD0000001', axis=1)
df

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000003,TOTAL_RESIDENTS,X00000000
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,41,1218,89,4279,1292,235,6350,10296,75493,6167
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,383,2357,68,3461,585,567,24662,19791,172470,13371
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,91,4177,136,3656,241,599,12986,11979,110680,12752
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,522,2061,101,2405,276,846,22519,21202,148292,7804
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,230,6175,887,4946,219,1297,22449,14197,152363,11395
E41000298,51,1918,47,1677,65,23151,98,718,415,216,...,303,2507,49,4192,254,594,29719,8722,110168,4300
E41000299,90,270,373,367,6457,3704,48412,483,193,714,...,635,5387,6806,3109,197,5491,17385,17006,173926,17238
E41000300,53,1268,37,6238,78,4956,164,34302,330,200,...,1970,1868,114,2154,197,1161,19381,20284,165800,11031
E41000301,344,6641,74,1140,91,6241,127,664,37198,260,...,134,1859,57,2758,2193,401,13690,15106,138390,11629
E41000302,328,317,5816,434,3329,3835,631,310,283,23759,...,170,5689,210,6884,437,904,17009,13612,118330,6886
E41000303,273,1022,91,706,130,9760,129,592,1205,449,...,196,3351,76,7259,1653,732,21861,12556,119051,3803
E41000304,20,401,42,1162,68,4674,150,2665,156,133,...,1147,1938,103,2734,115,2076,26202,8112,100148,4132
E41000305,218,3439,62,1138,72,11983,142,776,4954,317,...,234,2582,72,3287,1404,594,21687,16423,124845,5218
E41000306,62,5040,18,10364,51,4146,129,5024,433,130,...,355,1272,44,2182,162,355,11817,12440,114755,12438
E41000307,7110,219,415,151,156,2112,99,180,515,390,...,55,1601,49,5416,1109,175,12294,12695,113551,14732
E41000308,37,784,25,3052,95,2228,107,9560,207,109,...,706,879,60,1123,111,348,7790,12223,130973,17442
E41000309,29,340,42,1155,81,2398,199,6732,135,101,...,7752,1191,165,1356,94,1110,10294,13131,127613,14480
E41000310,78,1235,51,621,103,13297,149,548,887,210,...,187,3090,62,4741,482,639,27343,8768,107255,3914
E41000311,16,269,16,664,50,3281,127,778,120,87,...,338,1280,50,3955,98,969,27520,5750,82386,3301
E41000312,23,121,44,202,99,1872,517,490,56,85,...,3755,1318,1340,1444,32,2661,8867,6934,82434,11915
E41000313,83,540,227,612,1007,9995,2867,775,297,702,...,953,10682,856,5540,282,8639,41618,16485,167205,6450
E41000314,156,411,1293,475,6437,6021,2164,495,287,5360,...,279,11735,512,6228,345,1958,22769,14320,136570,5302
E41000315,37,235,58,321,319,3530,2775,579,117,208,...,1264,2749,3929,2516,108,8798,16210,11159,105369,7458
E41000316,2851,659,319,913,343,5132,269,709,1066,1311,...,214,3110,125,11592,3243,864,18262,21268,132787,6864
E41000317,4611,627,116,492,186,4238,153,421,1426,571,...,87,2315,63,8766,5236,361,16760,14113,125362,9661
E41000318,17,167,28,438,60,2978,194,1503,115,104,...,18671,1776,271,2121,34,2128,14773,7634,99916,10389
E41000319,188,488,440,640,1104,8027,1170,561,268,1723,...,456,25310,347,7802,391,2997,34059,14351,147995,5545
E41000320,16,105,94,158,589,1589,5850,279,59,163,...,812,1608,23989,1216,51,3785,7927,10050,98207,13794
E41000321,561,445,215,386,360,6315,219,467,367,739,...,248,4057,118,30488,943,700,29376,10282,121244,4903
E41000322,976,1001,100,723,144,6137,183,564,3422,535,...,145,2320,81,5282,21581,587,16787,18384,121461,6929
E41000323,36,431,81,738,348,8626,1480,1241,260,353,...,2674,6000,1115,6632,187,23925,46072,13949,179439,9253
E41000324,33,712,36,1506,108,7593,164,1080,190,144,...,321,2407,63,5897,187,935,49438,7972,117303,5389
TOTAL_WORKERS,43647,89244,54602,81732,81922,250615,88324,97801,78599,63391,...,57322,157768,53852,216232,52000,87897,917068,2513680,30008634,19673047
X00000000,10042,17220,15370,11363,13867,51664,13837,14621,17518,9605,...,11994,31899,11845,50811,8261,10466,241192,2092486,25986853,19387162

In [34]:
df.drop('OD0000003', axis=1, inplace=True)
df.drop('X00000000', axis=1, inplace=True)
df.drop('TOTAL_RESIDENTS', axis=1, inplace=True)
df.drop('TOTAL_WORKERS', axis=0, inplace=True)
df.drop('X00000000', axis=0, inplace=True)
df

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000315,E41000316,E41000317,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,85,4829,5389,41,1218,89,4279,1292,235,6350
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,208,601,338,383,2357,68,3461,585,567,24662
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,191,846,142,91,4177,136,3656,241,599,12986
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,284,435,145,522,2061,101,2405,276,846,22519
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,667,518,64,230,6175,887,4946,219,1297,22449
E41000298,51,1918,47,1677,65,23151,98,718,415,216,...,165,370,81,303,2507,49,4192,254,594,29719
E41000299,90,270,373,367,6457,3704,48412,483,193,714,...,4123,433,113,635,5387,6806,3109,197,5491,17385
E41000300,53,1268,37,6238,78,4956,164,34302,330,200,...,437,374,93,1970,1868,114,2154,197,1161,19381
E41000301,344,6641,74,1140,91,6241,127,664,37198,260,...,133,1006,693,134,1859,57,2758,2193,401,13690
E41000302,328,317,5816,434,3329,3835,631,310,283,23759,...,320,1656,223,170,5689,210,6884,437,904,17009
E41000303,273,1022,91,706,130,9760,129,592,1205,449,...,169,1680,489,196,3351,76,7259,1653,732,21861
E41000304,20,401,42,1162,68,4674,150,2665,156,133,...,507,248,38,1147,1938,103,2734,115,2076,26202
E41000305,218,3439,62,1138,72,11983,142,776,4954,317,...,185,841,424,234,2582,72,3287,1404,594,21687
E41000306,62,5040,18,10364,51,4146,129,5024,433,130,...,124,237,91,355,1272,44,2182,162,355,11817
E41000307,7110,219,415,151,156,2112,99,180,515,390,...,66,3567,4882,55,1601,49,5416,1109,175,12294
E41000308,37,784,25,3052,95,2228,107,9560,207,109,...,189,168,73,706,879,60,1123,111,348,7790
E41000309,29,340,42,1155,81,2398,199,6732,135,101,...,342,220,53,7752,1191,165,1356,94,1110,10294
E41000310,78,1235,51,621,103,13297,149,548,887,210,...,143,588,186,187,3090,62,4741,482,639,27343
E41000311,16,269,16,664,50,3281,127,778,120,87,...,222,120,34,338,1280,50,3955,98,969,27520
E41000312,23,121,44,202,99,1872,517,490,56,85,...,3088,94,39,3755,1318,1340,1444,32,2661,8867
E41000313,83,540,227,612,1007,9995,2867,775,297,702,...,2287,597,93,953,10682,856,5540,282,8639,41618
E41000314,156,411,1293,475,6437,6021,2164,495,287,5360,...,651,1163,186,279,11735,512,6228,345,1958,22769
E41000315,37,235,58,321,319,3530,2775,579,117,208,...,16588,256,48,1264,2749,3929,2516,108,8798,16210
E41000316,2851,659,319,913,343,5132,269,709,1066,1311,...,300,24781,3365,214,3110,125,11592,3243,864,18262
E41000317,4611,627,116,492,186,4238,153,421,1426,571,...,111,7676,22053,87,2315,63,8766,5236,361,16760
E41000318,17,167,28,438,60,2978,194,1503,115,104,...,846,104,19,18671,1776,271,2121,34,2128,14773
E41000319,188,488,440,640,1104,8027,1170,561,268,1723,...,782,894,210,456,25310,347,7802,391,2997,34059
E41000320,16,105,94,158,589,1589,5850,279,59,163,...,7117,120,30,812,1608,23989,1216,51,3785,7927
E41000321,561,445,215,386,360,6315,219,467,367,739,...,197,2973,638,248,4057,118,30488,943,700,29376
E41000322,976,1001,100,723,144,6137,183,564,3422,535,...,226,4191,3801,145,2320,81,5282,21581,587,16787
E41000323,36,431,81,738,348,8626,1480,1241,260,353,...,4768,460,71,2674,6000,1115,6632,187,23925,46072
E41000324,33,712,36,1506,108,7593,164,1080,190,144,...,279,320,88,321,2407,63,5897,187,935,49438

In [35]:
jobres.reset_index(inplace=True)
jobres.head()

,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
0,E41000293,14650,280,155,290,104,1855,110,250,653,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
1,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
2,E41000295,323,131,25876,161,4846,2391,510,177,175,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
3,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
4,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395

In [36]:
li = []

In [37]:
for x in df:
    li.append(df[x].loc[x])

In [38]:
li

[14650,
 36031,
 25876,
 27338,
 41000,
 23151,
 48412,
 34302,
 37198,
 23759,
 18889,
 16192,
 15155,
 21485,
 31928,
 45948,
 31030,
 16858,
 10964,
 20982,
 20718,
 20625,
 16588,
 24781,
 22053,
 18671,
 25310,
 23989,
 30488,
 21581,
 23925,
 49438]

In [39]:
lst = pd.DataFrame(li) 
lst

        0
0   14650
1   36031
2   25876
3   27338
4   41000
5   23151
6   48412
7   34302
8   37198
9   23759
10  18889
11  16192
12  15155
13  21485
14  31928
15  45948
16  31030
17  16858
18  10964
19  20982
20  20718
21  20625
22  16588
23  24781
24  22053
25  18671
26  25310
27  23989
28  30488
29  21581
30  23925
31  49438

In [40]:
jobres.reset_index(drop=True, inplace=True)

In [41]:
jobres = pd.concat([jobres, lst], axis=1)

In [42]:
jobres[0]+jobres["OD0000001"]

0     19414
1     57642
2     34539
3     40396
4     57167
5     38044
6     64299
7     49645
8     49729
9     33490
10    30949
11    26795
12    27795
13    33353
14    40762
15    57363
16    42361
17    27112
18    24932
19    30076
20    34757
21    32134
22    26197
23    33775
24    33236
25    32827
26    37718
27    32871
28    39599
29    30851
30    40788
31    66200
32      NaN
33      NaN
dtype: object

In [43]:
jobres['Residential_Workers_Rate'] = (jobres[0]+jobres["OD0000001"])/jobres["TOTAL_RESIDENTS"]
jobres.head()

,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000,0,Residential_Workers_Rate
0,E41000293,14650,280,155,290,104,1855,110,250,653,...,4279,1292,235,6350,4764,10296,75493,6167,14650.0,0.257163
1,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,3461,585,567,24662,21611,19791,172470,13371,36031.0,0.334215
2,E41000295,323,131,25876,161,4846,2391,510,177,175,...,3656,241,599,12986,8663,11979,110680,12752,25876.0,0.312062
3,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2405,276,846,22519,13058,21202,148292,7804,27338.0,0.272408
4,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,4946,219,1297,22449,16167,14197,152363,11395,41000.0,0.375203

In [44]:
PROC_DATA_PATH = '~/library/data/processed/'
jobres.to_csv(PROC_DATA_PATH + 'residents-working-data.csv')

In [175]:
#jobres.apply(lambda x: resworker(x), axis=1)

Code
E41000293        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000294        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000295        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000296        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000297        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000298        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000299        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000300        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000301        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000302        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000303        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000304        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000305        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000306        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000307        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000308        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000309        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000310        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000311        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000312        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000313        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000314        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000315        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000316        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000317        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000318        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000319        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000320        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000321        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000322        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000323        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000324        [14650, 36031, 25876, 27338, 41000, 23151, 484...
TOTAL_WORKERS    [14650, 36031, 25876, 27338, 41000, 23151, 484...
X00000000        [14650, 36031, 25876, 27338, 41000, 23151, 484...
dtype: object

In [42]:
#jobres1 = pd.melt(jobres_t, id_vars=['Code'], var_name = 'Code_Residency', value_name = "workers")
#jobres1

                 Code Code_Residency   workers
0           E41000293      E41000293     14650
1           E41000294      E41000293       280
2           E41000295      E41000293       155
3           E41000296      E41000293       290
4           E41000297      E41000293       104
5           E41000298      E41000293      1855
6           E41000299      E41000293       110
7           E41000300      E41000293       250
8           E41000301      E41000293       653
9           E41000302      E41000293       412
10          E41000303      E41000293      1228
11          E41000304      E41000293       433
12          E41000305      E41000293       468
13          E41000306      E41000293        60
14          E41000307      E41000293      6554
15          E41000308      E41000293       126
16          E41000309      E41000293       119
17          E41000310      E41000293      1311
18          E41000311      E41000293       561
19          E41000312      E41000293        35
20          E41000313      E41000293       565
21          E41000314      E41000293       211
22          E41000315      E41000293        85
23          E41000316      E41000293      4829
24          E41000317      E41000293      5389
25          E41000318      E41000293        41
26          E41000319      E41000293      1218
27          E41000320      E41000293        89
28          E41000321      E41000293      4279
29          E41000322      E41000293      1292
...               ...            ...       ...
1194        E41000299      X00000000     13837
1195        E41000300      X00000000     14621
1196        E41000301      X00000000     17518
1197        E41000302      X00000000      9605
1198        E41000303      X00000000     11757
1199        E41000304      X00000000     15989
1200        E41000305      X00000000      6488
1201        E41000306      X00000000     10149
1202        E41000307      X00000000     16263
1203        E41000308      X00000000     52152
1204        E41000309      X00000000     28923
1205        E41000310      X00000000     30188
1206        E41000311      X00000000     12152
1207        E41000312      X00000000     16277
1208        E41000313      X00000000     16755
1209        E41000314      X00000000      5570
1210        E41000315      X00000000      9211
1211        E41000316      X00000000     11684
1212        E41000317      X00000000      9949
1213        E41000318      X00000000     11994
1214        E41000319      X00000000     31899
1215        E41000320      X00000000     11845
1216        E41000321      X00000000     50811
1217        E41000322      X00000000      8261
1218        E41000323      X00000000     10466
1219        E41000324      X00000000    241192
1220        OD0000001      X00000000   2750521
1221        OD0000003      X00000000   2092486
1222  TOTAL_RESIDENTS      X00000000  25986853
1223        X00000000      X00000000  19387162

[1224 rows x 3 columns]

In [35]:
#jobres1 = jobres1.set_index(['Code', 'Code_Residency'])
#jobres1.head()

                         workers
Code      Code_Residency
E41000293 E41000293        14650
E41000294 E41000293          280
E41000295 E41000293          155
E41000296 E41000293          290
E41000297 E41000293          104

In [36]:
#jobres1.groupby('Code_Residency').groups.keys()
#jobres1

                                 workers
Code            Code_Residency
E41000293       E41000293          14650
E41000294       E41000293            280
E41000295       E41000293            155
E41000296       E41000293            290
E41000297       E41000293            104
E41000298       E41000293           1855
E41000299       E41000293            110
E41000300       E41000293            250
E41000301       E41000293            653
E41000302       E41000293            412
E41000303       E41000293           1228
E41000304       E41000293            433
E41000305       E41000293            468
E41000306       E41000293             60
E41000307       E41000293           6554
E41000308       E41000293            126
E41000309       E41000293            119
E41000310       E41000293           1311
E41000311       E41000293            561
E41000312       E41000293             35
E41000313       E41000293            565
E41000314       E41000293            211
E41000315       E41000293             85
E41000316       E41000293           4829
E41000317       E41000293           5389
E41000318       E41000293             41
E41000319       E41000293           1218
E41000320       E41000293             89
E41000321       E41000293           4279
E41000322       E41000293           1292
...                                  ...
E41000299       X00000000          13837
E41000300       X00000000          14621
E41000301       X00000000          17518
E41000302       X00000000           9605
E41000303       X00000000          11757
E41000304       X00000000          15989
E41000305       X00000000           6488
E41000306       X00000000          10149
E41000307       X00000000          16263
E41000308       X00000000          52152
E41000309       X00000000          28923
E41000310       X00000000          30188
E41000311       X00000000          12152
E41000312       X00000000          16277
E41000313       X00000000          16755
E41000314       X00000000           5570
E41000315       X00000000           9211
E41000316       X00000000          11684
E41000317       X00000000           9949
E41000318       X00000000          11994
E41000319       X00000000          31899
E41000320       X00000000          11845
E41000321       X00000000          50811
E41000322       X00000000           8261
E41000323       X00000000          10466
E41000324       X00000000         241192
OD0000001       X00000000        2750521
OD0000003       X00000000        2092486
TOTAL_RESIDENTS X00000000       25986853
X00000000       X00000000       19387162

[1224 rows x 1 columns]