## Importing the required data

- upload https://data.london.gov.uk/dataset/qualifications-economically-active-population-gender-borough xlsx table to 'data'

In [ ]:
!mkdir data

## Converting xlsx file to pandas dataframe

In [3]:
#to open xlsx files
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.5.8)
Requirement already satisfied: et-xmlfile in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.4)

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
from openpyxl import load_workbook
wb2 = load_workbook('./data/Qualifications-by-economic-activity-status-borough.xlsx', data_only=True)

In [7]:
wb2.sheetnames

['Metadata',
 'Quals of Workless',
 'Quals of Unemployed Borough',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

## 1) Dataset with averages over time

## Establishing an average qualification score
- assign all categories a certain ordinal value from 0 to 4.5:
    - NVQ4+: 4.5 bc. it includes all 4 and 5 level active persons
    - Trade Apprenticeship: 2.5 bc. such an apprenticeship can get assigned level 2 or 3 (https://www.gov.uk/government/publications/a-guide-to-apprenticeships)
    - Other: 2.25 bc that is the average btw. 0 and 4.5

In [17]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)

dfT = df04.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av04 = df['Average score']

In [19]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)

dfT = df05.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av05 = df['Average score']

In [20]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)

dfT = df06.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av06 = df['Average score']

In [21]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)

dfT = df07.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av07 = df['Average score']

In [22]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)

dfT = df08.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av08 = df['Average score']

In [23]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)

dfT = df09.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av09 = df['Average score']

In [24]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)

dfT = df10.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av10 = df['Average score']

In [25]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)

dfT = df11.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av11 = df['Average score']

In [26]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)

dfT = df12.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av12 = df['Average score']

In [27]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)

dfT = df13.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av13 = df['Average score']

In [28]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)

dfT = df14.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av14 = df['Average score']

In [29]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)

dfT = df15.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av15 = df['Average score']

In [30]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)

dfT = df16.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av16 = df['Average score']

In [31]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)

dfT = df17.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av17 = df['Average score']

In [32]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)

dfT = df18.T
number = dfT.loc[dfT[1]=="number"]
dfT.drop(number.index, axis=0, inplace=True)
denom = dfT.loc[dfT[1]=="denominator"]
dfT.drop(denom.index, axis=0, inplace=True)
conf = dfT.loc[dfT[1]=="confidence"]
dfT.drop(conf.index, axis=0, inplace=True)
male = dfT.iloc[3::3, :]
dfT.drop(male.index, axis=0, inplace=True)
female = dfT.iloc[3::2, :]
dfT.drop(female.index, axis=0, inplace=True)
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'
dfT.replace('!', 0, inplace=True) #bc. ! indicates that level close to 0

df = dfT.T
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)

#Estblishing an average score
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100
av18 = df['Average score']

In [33]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [34]:
df.drop(bulk, axis=1, inplace=True)

In [35]:
df = pd.concat([df, av04], axis=1)
df = pd.concat([df, av05], axis=1)
df = pd.concat([df, av06], axis=1)
df = pd.concat([df, av07], axis=1)
df = pd.concat([df, av08], axis=1)
df = pd.concat([df, av09], axis=1)
df = pd.concat([df, av10], axis=1)
df = pd.concat([df, av11], axis=1)
df = pd.concat([df, av12], axis=1)
df = pd.concat([df, av13], axis=1)
df = pd.concat([df, av14], axis=1)
df = pd.concat([df, av15], axis=1)
df = pd.concat([df, av16], axis=1)
df = pd.concat([df, av17], axis=1)
df = pd.concat([df, av18], axis=1)
df

,Code,Area,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score,Average score
3,00AA,City of London,3.627,3.2895,3.0555,3.3165,3.123,4.5,0,0,4.5,4.5,0,4.5,3.7485,4.0995,4.5
4,00AB,Barking and Dagenham,2.07775,2.161,2.097,2.21125,2.3215,2.53075,2.59075,2.6955,2.654,2.623,2.713,2.83825,2.77775,2.769,2.88675
5,00AC,Barnet,3.02875,3.1595,3.04375,3.10425,3.162,3.2125,3.33575,3.42375,3.31625,3.421,3.225,3.42575,3.599,3.55875,3.565
6,00AD,Bexley,2.28875,2.41,2.50825,2.3595,2.5665,2.67925,2.7215,2.69475,2.75925,2.85375,2.91825,2.863,3.06625,3.01475,3.137
7,00AE,Brent,2.679,2.9185,2.82075,2.76825,2.82625,2.994,2.88125,2.79825,3.16925,3.2435,3.35525,3.339,3.3165,3.14475,3.2155
8,00AF,Bromley,2.8605,2.79825,2.91025,2.9665,2.8885,2.9955,3.0675,3.1615,3.241,3.303,3.30525,3.36275,3.40825,3.30625,3.43
9,00AG,Camden,3.38025,3.4775,3.4465,3.4175,3.46725,3.52525,3.538,3.691,3.73725,3.73175,3.869,3.861,3.8335,3.708,3.79625
10,00AH,Croydon,2.6305,2.70725,2.749,2.70225,2.7775,2.7925,3.1205,2.9865,3.1265,3.221,3.2375,3.15525,3.3425,3.3235,3.3995
11,00AJ,Ealing,2.99325,3.0565,2.94775,3.09325,3.157,2.94825,3.15875,3.35025,3.277,3.271,3.3555,3.38625,3.53125,3.42725,3.42175
12,00AK,Enfield,2.461,2.682,2.93625,2.83,2.82675,3.0535,3.027,3.03525,3.0145,3.0945,3.17425,3.35975,3.24475,3.09325,3.22725
13,00AL,Greenwich,2.7245,2.6705,2.873,2.748,2.99675,2.92275,2.98175,3.17475,3.1695,3.333,3.22325,3.1335,3.30925,3.561,3.50575
14,00AM,Hackney,2.8165,2.818,2.89975,3.019,3.2845,3.30575,3.12475,3.29925,3.4335,3.41475,3.50875,3.4195,3.58175,3.711,3.49725
15,00AN,Hammersmith and Fulham,3.40675,3.36,3.47175,3.38675,3.4025,3.23825,3.514,3.5945,3.72325,3.67175,3.777,3.8235,3.68325,3.80275,3.66975
16,00AP,Haringey,2.95125,3.01375,3.12475,3.216,3.199,3.24825,3.217,3.5055,3.524,3.49225,3.35175,3.391,3.43625,3.51375,3.5255
17,00AQ,Harrow,2.88575,2.91825,2.9385,2.95125,2.903,2.97225,3.0705,3.26025,3.38675,3.3815,3.55175,3.42075,3.4075,3.42625,3.42275
18,00AR,Havering,2.1045,2.2115,2.256,2.2725,2.334,2.2195,2.43425,2.4255,2.60475,2.6695,2.674,2.606,2.688,2.7935,2.75125
19,00AS,Hillingdon,2.612,2.70775,2.62175,2.616,2.57325,2.82675,2.554,2.8125,3.042,3.1715,3.08475,3.14025,3.252,3.151,3.14625
20,00AT,Hounslow,2.65875,2.703,2.8915,2.80025,2.89425,2.83875,2.821,3.21225,3.2115,3.124,3.3255,3.35025,3.348,3.28,3.468
21,00AU,Islington,3.0525,3.1155,3.259,3.2805,3.3335,3.505,3.70775,3.65525,3.57925,3.70975,3.675,3.7555,3.675,3.79225,3.786
22,00AW,Kensington and Chelsea,3.28275,3.4045,3.266,3.435,3.51625,3.68975,3.6735,3.7055,3.6905,3.615,3.65475,3.84425,3.68325,3.797,3.787
23,00AX,Kingston upon Thames,3.168,3.0215,3.15875,3.33675,3.48125,3.24775,3.465,3.26325,3.3945,3.5145,3.59925,3.54425,3.62175,3.59375,3.706
24,00AY,Lambeth,3.053,2.9955,3.071,3.21875,3.1665,3.3565,3.51175,3.548,3.5145,3.72875,3.67125,3.8135,3.823,3.889,3.742
25,00AZ,Lewisham,2.84625,2.787,2.7545,3.02375,3.11525,3.13375,3.406,3.404,3.568,3.49125,3.4735,3.477,3.42875,3.50025,3.60625
26,00BA,Merton,2.92975,3.019,3.00375,3.1415,2.924,3.0865,3.359,3.28,3.332,3.4615,3.48325,3.5815,3.6905,3.607,3.4355
27,00BB,Newham,2.1875,2.476,2.64525,2.5915,2.63025,2.5795,2.847,3.071,3.1485,3.12325,3.07575,3.23775,3.36375,3.106,3.43775
28,00BC,Redbridge,2.56725,2.88875,3.011,2.992,2.9565,2.902,2.9395,3.065,3.21875,3.3695,3.31225,3.21375,3.381,3.37225,3.32925
29,00BD,Richmond upon Thames,3.354,3.34675,3.46025,3.516,3.458,3.51075,3.4985,3.60925,3.735,3.81225,3.912,3.948,3.943,3.824,3.85675
30,00BE,Southwark,3.025,2.97025,2.9025,3.2235,3.2575,3.27175,3.3755,3.57925,3.55475,3.55725,3.65725,3.5855,3.67175,3.7255,3.7495
31,00BF,Sutton,2.54225,2.701,2.73775,2.62575,2.67,2.9695,2.916,2.952,3.105,3.06875,3.21425,3.10825,3.2195,3.4275,3.30475
32,00BG,Tower Hamlets,2.72875,2.7315,2.789,2.861,3.0375,3.13325,3.313,3.3465,3.49575,3.3905,3.2895,3.3765,3.55275,3.4675,3.5955
33,00BH,Waltham Forest,2.508,2.47675,2.61325,2.7535,2.77325,2.5865,2.807,2.983,3.093,3.16525,3.23625,3.21025,3.27525,3.169,3.3765
34,00BJ,Wandsworth,3.39975,3.21375,3.41475,3.637,3.48,3.60175,3.72875,3.71725,3.88275,3.786,3.947,3.821,3.955,3.93825,3.89975
35,00BK,Westminster,3.11725,3.20975,3.3185,3.52075,3.45475,3.59975,3.689,3.688,3.857,3.8075,3.914,3.776,3.78775,3.881,3.954
36,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,A,North East,2.4905,2.50525,2.5645,2.6105,2.60725,2.6045,2.6855,2.72375,2.7325,2.79025,2.8285,2.8745,2.913,2.92225,2.914
38,B,North West,2.49525,2.5395,2.57975,2.61175,2.61225,2.691,2.78425,2.76225,2.8345,2.857,2.881,2.9305,2.97725,2.98725,3.01325
39,D,Yorkshire and The Humber,2.49425,2.482,2.5015,2.54475,2.60025,2.65925,2.68875,2.708,2.799,2.79825,2.82275,2.862,2.8835,2.896,2.94675
40,E,East Midlands,2.453,2.4975,2.54725,2.565,2.54225,2.6245,2.6875,2.7275,2.7725,2.79375,2.8355,2.8995,2.9065,2.90425,2.94625
41,F,West Midlands,2.4335,2.45375,2.4855,2.52625,2.53175,2.5595,2.631,2.64325,2.71275,2.7295,2.776,2.80925,2.8435,2.86375,2.906
42,G,East,2.47825,2.5185,2.49625,2.563,2.56725,2.634,2.713,2.74075,2.8695,2.872,2.8785,2.89975,2.94,2.933,2.93375
43,H,London,2.832,2.8885,2.9385,2.99425,3.02075,3.0785,3.1715,3.25025,3.3355,3.3705,3.3955,3.41275,3.4765,3.4665,3.49525
44,J,South East,2.6825,2.6995,2.7335,2.7535,2.783,2.84325,2.89225,2.95925,3.0105,3.0585,3.0865,3.08525,3.14825,3.14675,3.172
45,K,South West,2.601,2.625,2.67125,2.74275,2.70575,2.7655,2.8625,2.89125,2.9475,2.95375,3.016,3.0575,3.08625,3.10825,3.11175
46,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,921,England,2.5745,2.606,2.6405,2.67875,2.69425,2.7525,2.82425,2.86175,2.9335,2.958,2.99,3.0255,3.06475,3.07175,3.09325
48,924,Wales,2.5205,2.53475,2.5605,2.6065,2.66825,2.7185,2.7885,2.799,2.83775,2.881,2.93475,2.9465,2.99225,2.99325,3.00175
49,923,Scotland,2.71925,2.759,2.8035,2.83725,2.86525,2.89025,2.935,2.982,3.015,3.05175,3.10975,3.154,3.17725,3.17175,3.1635
50,922,Northern Ireland,2.43975,2.43775,2.47225,2.523,2.58175,2.60125,2.65425,2.60325,2.705,2.699,2.758,2.78075,2.832,2.87975,2.99
51,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,941,England and Wales,2.56875,2.60125,2.63475,2.676,2.692,2.75,2.82175,2.85725,2.927,2.952,2.991,3.01925,3.06,3.0625,3.09175
53,925,Great Britain,2.585,2.618,2.6485,2.69625,2.71225,2.76325,2.833,2.87025,2.9365,2.963,3.001,3.0315,3.071,3.076,3.094
54,926,United Kingdom,2.58225,2.6105,2.64525,2.68875,2.704,2.756,2.82475,2.863,2.9315,2.9565,2.99375,3.025,3.0635,3.0705,3.09425

In [36]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [37]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,3.627,3.2895,3.0555,3.3165,3.123,4.5,0,0,4.5,4.5,0,4.5,3.7485,4.0995,4.5
4,00AB,Barking and Dagenham,2.07775,2.161,2.097,2.21125,2.3215,2.53075,2.59075,2.6955,2.654,2.623,2.713,2.83825,2.77775,2.769,2.88675
5,00AC,Barnet,3.02875,3.1595,3.04375,3.10425,3.162,3.2125,3.33575,3.42375,3.31625,3.421,3.225,3.42575,3.599,3.55875,3.565
6,00AD,Bexley,2.28875,2.41,2.50825,2.3595,2.5665,2.67925,2.7215,2.69475,2.75925,2.85375,2.91825,2.863,3.06625,3.01475,3.137
7,00AE,Brent,2.679,2.9185,2.82075,2.76825,2.82625,2.994,2.88125,2.79825,3.16925,3.2435,3.35525,3.339,3.3165,3.14475,3.2155

In [38]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'average-overtime.csv')

## 2) Dataset with specific values over time 
- clear df so that only contains borough and no qualification
- import row No Qualifications of all worksheets and merge them

### No qualifications over time

In [188]:
ws2 = wb2["2004"]

In [189]:
df04 = pd.DataFrame(ws2.values)
df04.tail()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
50,922,Northern Ireland,216800,759000,28.6,1.5,102600,423800,24.2,1.9,...,18.1,1.3,84100,423800,19.8,1.8,53200,335200,15.9,1.8
51,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,7566200,25875900,29.2,0.2,4014500,14056700,28.6,0.3,...,10.8,0.2,1514600,14056700,10.8,0.2,1277000,11819200,10.8,0.2
53,925,Great Britain,8427600,28398200,29.7,0.2,4443000,15387000,28.9,0.3,...,10.9,0.1,1652900,15387000,10.7,0.2,1430600,13011300,11,0.2
54,926,United Kingdom,8644400,29157200,29.6,0.2,4545600,15810800,28.7,0.3,...,11,0.1,1737000,15810800,11,0.2,1483800,13346400,11.1,0.2

In [190]:
nq04 = df04[76]

In [191]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[76]

In [192]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[76]

In [193]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[76]

In [194]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[76]

In [195]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[76]

In [196]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[76]

In [197]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[76]

In [198]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[76]

In [199]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[76]

In [200]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[76]

In [201]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[76]

In [202]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[76]

In [203]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[76]

In [204]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[76]

In [205]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [206]:
df.drop(bulk, axis=1, inplace=True)

In [207]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,Code,Area,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8
5,00AC,Barnet,6.8,6.4,5.3,7.8,5.6,5.9,5.2,3.7,5,2.8,6.4,3.3,3.6,3.7,3
6,00AD,Bexley,8.6,8.5,6.3,11.2,8.2,6.9,4.3,4.8,5.6,2.7,3.5,7.7,3.4,3.1,3.5
7,00AE,Brent,11.6,8.2,7.2,6.5,5.1,6.8,2.1,8.2,8.3,5.7,5.4,4.6,3.4,5.1,4.8
8,00AF,Bromley,7.5,6.1,7.1,5.3,5.8,2.9,3.7,5.4,3.8,4,1.9,1.7,1.8,3,2.6
9,00AG,Camden,4.6,3.8,6.3,6.2,3.4,4.7,4,4,3.8,4.8,1.9,1.6,2.2,6.9,4
10,00AH,Croydon,7.6,7.6,10,12.7,9.1,8.4,3.9,6.2,3.5,4.1,3.4,4.8,4.4,3.4,4.1
11,00AJ,Ealing,9.2,5.9,7.5,7.5,7.9,10.5,7.1,5.9,7.1,5.3,6.5,6.2,3.7,4.6,5.8
12,00AK,Enfield,11.9,9.5,7.1,8.5,9.4,6.6,5.2,5.4,5,3.5,3.8,1.4,3.2,4.9,4
13,00AL,Greenwich,8.6,10.4,8.5,10.5,7,9.5,6.3,6.6,5.3,4.2,6.4,7.7,3.1,3.1,3.8
14,00AM,Hackney,14.7,13.9,14.7,12.2,9.6,6.7,9.6,7,4.9,5.1,4.3,6.4,4.9,4.7,8
15,00AN,Hammersmith and Fulham,4.3,5.9,3.9,7.1,5.4,8.5,3.7,6.5,3.1,5.7,3.8,3.2,4.9,2.1,4.9
16,00AP,Haringey,11.6,9.3,7.7,6,9,8.8,7.1,3.9,5.4,5.8,6.8,6.6,6.4,4.5,6.4
17,00AQ,Harrow,7.3,5.9,5.2,5.5,5.4,4,3.6,4.9,4.1,2.5,1.7,2.8,1.3,2.2,2.5
18,00AR,Havering,13,14.9,15.6,12,11.1,12.4,10.6,8.4,5,5,5.8,7.5,5.7,5.3,7.7
19,00AS,Hillingdon,8.8,10,10.8,9.9,9.8,9,11.4,8.4,3.5,3.5,6,4.7,3.8,7,6.4
20,00AT,Hounslow,8.5,8.3,7.3,8.9,11.1,11.9,10.5,6.3,6.8,7.1,5.8,3.2,4.6,4.5,3.1
21,00AU,Islington,12.9,10,8.6,8.5,7.6,5.5,3.5,4.1,4.2,6.7,4.9,4.2,4.1,3.2,4.6
22,00AW,Kensington and Chelsea,4.2,4.6,7.9,5.6,4.5,3.8,1.8,4,4.6,6.1,5.3,2.5,3.7,2.2,2.6
23,00AX,Kingston upon Thames,3.7,6.4,5.8,4.3,4.4,7.1,5.5,5.3,4.1,1.6,1.3,3.8,2.3,2.9,2.6
24,00AY,Lambeth,11.2,14.1,14.8,9.5,8.8,6.5,5,7.8,5.9,3.7,4.4,3.8,2.7,3,3
25,00AZ,Lewisham,8.4,9.1,9.6,5.4,6.5,4.1,4.3,5.5,5.2,4,5,3.4,3.8,2,3.7
26,00BA,Merton,8,10.7,6.8,4.5,5.8,6.3,4.7,4.3,4.6,4.3,3.1,2.9,2.7,2,3.6
27,00BB,Newham,21,13.3,10.2,13.1,11.8,12.6,9.6,9.3,9,9.2,7.3,7.4,5.4,9.1,3.6
28,00BC,Redbridge,11.5,7.8,5.9,9.5,9,8,11.9,8,7.4,3.7,4.8,7.4,5.8,4.9,5.8
29,00BD,Richmond upon Thames,4.2,5.7,4.4,3.6,6.6,3.7,2.8,2,2.1,2.3,!,1.1,!,1.8,1.9
30,00BE,Southwark,9.8,15.8,15,9,8.4,6.3,6.5,4.6,5.4,5.2,5,4.8,4.1,3.9,3.8
31,00BF,Sutton,9,8.7,9.8,12.5,8.8,6.8,6.4,4.1,3.8,4.6,3.4,3.1,4.8,4.8,4.8
32,00BG,Tower Hamlets,14.6,13,13.7,9.8,11.3,6.9,5.4,8.4,7.5,6.6,7,5.3,4.6,7.9,3.9
33,00BH,Waltham Forest,12.6,13.1,11.3,12.2,11.2,15.2,10.7,8.8,7.9,8.7,6.6,7.5,4.9,7.1,4.1
34,00BJ,Wandsworth,5,8,7.9,2.8,6,4.3,2.6,4.1,2.2,3.5,2.3,3.1,1.4,1.6,2.4
35,00BK,Westminster,6.8,7.9,8.2,5.9,5,4.7,3.4,5,3,3.5,1.6,2.1,2.1,1.1,2.9
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,10.9,9.8,9.2,9.2,8.9,9,8,7.1,6.9,6.3,5.6,6.1,5.6,5.6,5.5
38,B,North West,12.4,11.6,10.6,10.1,10,8.6,7.1,7.3,6.5,6.4,6.1,5.9,5.4,5.2,5.5
39,D,Yorkshire and The Humber,10.9,10.8,10.3,10,8.9,8.2,7.8,7.3,7.1,6.6,6.1,6.1,6,6.1,5.4
40,E,East Midlands,13,11.1,10.4,10.1,10.1,8.9,9,7.4,6.3,7,6,4.9,4.7,5.1,5.5
41,F,West Midlands,13.7,12.6,12.8,12.2,11.5,11,9.8,9.3,9.3,9.5,8.5,8.4,7.6,6.8,6.8
42,G,East,11.7,10.4,11.2,9.8,9.4,8.1,7,6.6,5.6,5.5,5.4,5.4,5.2,4.9,5.2
43,H,London,9.3,9.2,8.9,8.4,7.9,7.4,6.1,6,5.2,4.8,4.6,4.6,3.9,4.3,4.2
44,J,South East,8.3,7.8,7.4,7.7,6.8,6.2,5.8,5.3,4.3,4.1,3.7,4.1,3.6,3.4,3.7
45,K,South West,8.3,7.8,7.2,6.8,6.7,5.6,5.3,5.2,4.4,4.5,3.6,3.5,3.1,3.4,3.4
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,10.7,10,9.6,9.2,8.8,7.9,7.1,6.7,6,5.9,5.3,5.3,4.8,4.8,4.9
48,924,Wales,12,11.5,11.3,10.7,9.5,9.1,7.8,7.4,7,6.4,6.1,6.3,5.9,5.4,5.5
49,923,Scotland,11.6,10.6,9.9,9.7,9.1,8.9,8,7.7,6.9,6.6,6.3,5.9,6.5,5.8,6.8
50,922,Northern Ireland,18.1,17.5,16.5,15.8,15.8,14.7,13.4,14.3,11.7,12,11.6,10.8,10.5,10.9,9.1
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,10.8,10.1,9.7,9.3,8.8,8,7.1,6.7,6,5.9,5.4,5.3,4.9,4.8,4.9
53,925,Great Britain,10.9,10.1,9.7,9.3,8.8,8,7.2,6.8,6.1,6,5.5,5.4,5,4.9,5.1
54,926,United Kingdom,11,10.3,9.9,9.5,9,8.2,7.4,7,6.2,6.1,5.6,5.5,5.2,5.1,5.2

In [208]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [209]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8

In [210]:
df.replace('!', 0, inplace=True)

In [211]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8
5,00AC,Barnet,6.8,6.4,5.3,7.8,5.6,5.9,5.2,3.7,5,2.8,6.4,3.3,3.6,3.7,3
6,00AD,Bexley,8.6,8.5,6.3,11.2,8.2,6.9,4.3,4.8,5.6,2.7,3.5,7.7,3.4,3.1,3.5
7,00AE,Brent,11.6,8.2,7.2,6.5,5.1,6.8,2.1,8.2,8.3,5.7,5.4,4.6,3.4,5.1,4.8

In [212]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'no-qualifications-overtime.csv')

### NVQ4+ over time

In [229]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)
nq04 = df04[4]

In [230]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[4]

In [231]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[4]

In [232]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[4]

In [233]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[4]

In [234]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[4]

In [235]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[4]

In [236]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[4]

In [237]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[4]

In [238]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[4]

In [239]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[4]

In [240]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[4]

In [241]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[4]

In [242]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[4]

In [243]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[4]

In [244]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [245]:
df.drop(bulk, axis=1, inplace=True)

In [246]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,Code,Area,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,!,!,100,100,!,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2
5,00AC,Barnet,41.6,46.9,42.3,47.6,48.6,49.5,53.2,57.3,53.9,56.8,49.9,55.4,65.2,62.2,61.5
6,00AD,Bexley,17.3,21.8,24.2,23.1,28.1,31.5,30.5,29.6,31.9,35.3,37.4,38.3,40.8,39.9,45.2
7,00AE,Brent,31.7,35.8,35,31.3,31.4,41,31,33.8,46.8,50.8,53.9,53.4,52.1,45.4,47.5
8,00AF,Bromley,38.4,33.6,39.1,39,36.4,39.3,41,47.1,49.7,51.9,50,51.5,54.2,50.1,53.5
9,00AG,Camden,55.7,60,60.1,59.1,59.8,62.6,63.5,69.4,69.6,69.8,72.4,73.5,72.2,71.2,74.5
10,00AH,Croydon,31.1,32.6,33.6,34.8,36.3,35.7,45.1,43.1,44.3,47.8,45.6,45.8,52.8,51,54.3
11,00AJ,Ealing,44.5,44,39.9,45,49.3,43.6,46.7,54.7,52.9,51.9,54.2,57,61.2,56.9,58
12,00AK,Enfield,26.6,34.2,39.9,35.7,38.1,43.7,43.9,44,42.4,44.3,48.1,50.5,48.5,43.1,49.4
13,00AL,Greenwich,32.9,31.8,38.9,35.2,42.4,43.1,42.2,49.2,47.5,52.6,48.3,48.7,50.6,61.1,60.6
14,00AM,Hackney,42.7,41.7,44.6,47.8,56.1,55.9,49.8,56.6,60.3,58.6,60,59.4,65.3,71,63.9
15,00AN,Hammersmith and Fulham,55.5,57,59,58.2,58.1,53.2,59.9,66.7,67.8,70.6,72,73.4,66.4,71.6,69.2
16,00AP,Haringey,45,45.5,47.9,50.6,52.5,52.7,51.2,60,62.4,61.9,55.6,56.6,59.1,59.9,63.6
17,00AQ,Harrow,37.5,37.2,37.3,38.4,34.8,37.9,39.9,49.3,52.7,52.2,58.2,53.3,49.9,52.2,52.5
18,00AR,Havering,13.7,20.4,20.4,20.5,23,19,22.3,21.7,24.1,26.6,27.8,30.1,30.6,33.8,33.7
19,00AS,Hillingdon,27.8,32.3,29.3,30.8,28.4,37,29.5,37.8,40.5,46.5,45,45.1,50.1,49.2,48.8
20,00AT,Hounslow,30.4,31.6,37.2,37.3,42.2,39.8,38.5,51.9,52.3,49.3,55.2,52.3,54.1,49.5,58.4
21,00AU,Islington,50.4,51,55.8,56.7,57.4,61.9,69.4,69.2,65.9,72.1,69.6,71.9,68.3,70.2,74
22,00AW,Kensington and Chelsea,47.9,56.2,52.8,57.5,61.1,68,64.4,69.4,68.8,67.3,68.6,73.4,67.4,71.9,72.2
23,00AX,Kingston upon Thames,46.1,42.8,47.9,54,57.4,50.9,59.7,54.2,55.1,58.8,61.6,59.4,61.3,61.2,66.6
24,00AY,Lambeth,49,48.8,51,53.8,51,57,62.3,66.2,63.1,68.8,68.4,72.9,71.2,73.4,68.8
25,00AZ,Lewisham,38.2,36.6,36.2,40.6,46.1,45.1,55.4,57.2,63.4,59.4,58.6,58.1,56.5,57.1,64.5
26,00BA,Merton,39.8,47,43.3,46.9,40.1,45.2,54.8,52.6,52,58,57.3,61.9,66,61.7,57.2
27,00BB,Newham,23.3,27.4,31.2,31.7,30.8,30.5,37.1,48,49.2,47.6,43.3,50,55.9,47.6,56.6
28,00BC,Redbridge,30.8,41,41.6,43.8,43.2,39.4,41.9,43.6,49.8,53.8,52.9,51.2,55.4,53.7,53.4
29,00BD,Richmond upon Thames,51.1,53.7,58.7,59.8,60.3,60.1,59.6,62.1,66.8,70.8,72.5,75,75.9,71.3,72.9
30,00BE,Southwark,45.8,49.5,46,52.3,54.1,54.5,57.3,64,64.2,63.3,67.6,64.3,66.4,68.7,71.2
31,00BF,Sutton,26.8,32,34.8,33.3,31.2,41,40.6,38.6,42.2,44.1,47.2,44.8,49.3,56.6,51.8
32,00BG,Tower Hamlets,38.4,37.7,39.7,41.7,47.2,46.5,52.2,58.2,62.9,57.7,53.5,54.6,60.8,61,65.1
33,00BH,Waltham Forest,30.4,27.5,31.5,36.5,36.9,32.3,37.1,44.8,47.1,50.1,51.8,50.6,52.4,49.6,55.1
34,00BJ,Wandsworth,55.7,51.4,59.6,63.2,61.7,65,70,71.2,73.6,71.3,77.4,71.6,76.8,76.9,76
35,00BK,Westminster,45.6,51.6,56.1,62.7,58.7,65,68.1,69.4,72.6,71.7,76,71.2,70.6,72.5,78
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,25.9,25.3,26.7,28.3,27.7,28.5,30.3,30.7,31,32.2,32.6,34.9,36,36.6,36
38,B,North West,27.1,28.4,28.7,29.5,29.6,31.7,33.5,33,34.8,35.6,35.7,37.2,39,39.1,40.3
39,D,Yorkshire and The Humber,26.2,25.5,25.9,27.5,28.5,30.2,30.7,31.1,33.7,33.7,33.9,34.8,35.5,36.8,37.5
40,E,East Midlands,26.2,26.5,27.9,28.5,28.1,29.2,30.9,31.7,32,33.4,34.2,35.8,35.2,35.9,37.3
41,F,West Midlands,26,26.2,27.3,28.5,28.1,28.9,30.4,30.2,32.2,32.7,33.8,35.7,35.8,35.5,37
42,G,East,27.1,27.7,27.4,28.6,28.3,29.7,32,32.1,35.9,36.2,36.1,37,38.5,37.9,38.6
43,H,London,38,40.1,41.6,43.5,44.5,46.1,48.4,52.4,54,55.5,56,56.5,58.6,58.1,60
44,J,South East,31.7,32,33,33.6,34.2,35.9,37.3,39.4,40,41.7,42.7,43.1,44.9,44.2,45.5
45,K,South West,28.5,28.8,29.9,31.9,30.7,31.9,35,36.3,37.3,37.1,39.4,40.6,41.2,42.3,41.9
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,29.3,29.9,30.8,32,32.2,33.7,35.5,36.7,38.4,39.3,40,41.2,42.4,42.5,43.5
48,924,Wales,27.8,28.2,28.5,29.8,30.9,32.4,34.1,34.3,35.1,35.8,37.8,38.7,40.1,39.9,39.9
49,923,Scotland,34.1,34.3,35.7,36.8,37.3,38.2,39.3,41.2,42.6,43.4,45.6,47.2,48.4,48,48.3
50,922,Northern Ireland,28.6,28.2,28.6,29.9,32,31.7,33.1,31.9,33.6,34,35.7,35.8,36.2,38.9,41.9
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,29.2,29.8,30.7,31.9,32.1,33.6,35.4,36.6,38.2,39.1,39.9,41,42.3,42.3,43.3
53,925,Great Britain,29.7,30.2,31.1,32.4,32.6,34,35.8,37,38.6,39.5,40.4,41.6,42.8,42.8,43.7
54,926,United Kingdom,29.6,30.1,31,32.3,32.5,33.9,35.7,36.9,38.5,39.3,40.3,41.4,42.6,42.7,43.7

In [247]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [248]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,!,!,100,100,!,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2

In [249]:
df.replace('!', 0, inplace=True)

In [250]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,0,0,100,100,0,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2
5,00AC,Barnet,41.6,46.9,42.3,47.6,48.6,49.5,53.2,57.3,53.9,56.8,49.9,55.4,65.2,62.2,61.5
6,00AD,Bexley,17.3,21.8,24.2,23.1,28.1,31.5,30.5,29.6,31.9,35.3,37.4,38.3,40.8,39.9,45.2
7,00AE,Brent,31.7,35.8,35,31.3,31.4,41,31,33.8,46.8,50.8,53.9,53.4,52.1,45.4,47.5

In [251]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'nvq4+-qualifications-overtime.csv')

### NVQ3 over time

In [8]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)
nq04 = df04[16]

In [9]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[16]

In [10]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[16]

In [11]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[16]

In [12]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[16]

In [13]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[16]

In [14]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[16]

In [15]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[16]

In [16]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[16]

In [17]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[16]

In [18]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[16]

In [19]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[16]

In [20]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[16]

In [21]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[16]

In [22]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[16]

In [27]:
df = df18

In [28]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [29]:
df.drop(bulk, axis=1, inplace=True)

In [30]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,0,1,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,10.8,12,11.2,10.8,10.6,15.5,9.7,13.7,15.2,13.1,12,17,13,14.5,12.6
5,00AC,Barnet,13.3,12.2,10,12,11,13.2,12.1,10.9,12.5,10.6,14.6,14.4,9.9,8.7,11.9
6,00AD,Bexley,17.3,17.8,17.5,15.1,15.5,15.7,17,19,17.9,14.2,16.9,16.8,19.5,18.2,15.3
7,00AE,Brent,11.1,15.3,9.7,6.7,10.7,7.8,10.3,14.8,17.8,14.9,14.3,14.4,14.1,15,14.4
8,00AF,Bromley,14,16.9,14.5,18.1,18,15.7,18,17.5,16.9,15.2,16.8,16.8,13.9,15.3,15.7
9,00AG,Camden,7.5,7.8,8.2,8.5,7.2,7.1,7.2,8.2,10.5,11.1,12.1,7.5,9.2,8.5,6.5
10,00AH,Croydon,14.4,15,17.5,16.1,16.1,14.8,15.1,12,18,16.3,18.9,15.7,14.1,15.8,15.9
11,00AJ,Ealing,9.7,9,10.6,10.5,8.9,9.2,13.4,13.8,12.7,14.1,12.8,11.8,12.9,14.7,9.5
12,00AK,Enfield,12.3,11.5,11.3,16.3,12.9,16,11.8,13,14.1,14.9,13.5,15.7,14.3,17.4,14.6
13,00AL,Greenwich,13.7,13.8,13.1,14.7,13.4,10.5,13.8,14,14.9,14.2,17.8,13.6,14.9,11.1,10.7
14,00AM,Hackney,5.9,7,9.1,10,8.6,6.4,8.9,7.2,8.7,9.5,14.4,12,8.5,7.2,9.1
15,00AN,Hammersmith and Fulham,8.3,7.8,8.7,8.1,9.3,10.3,11.8,9.1,11.6,6.5,9.1,8.8,14.3,7.8,7.5
16,00AP,Haringey,10.1,8.8,8.7,8.2,6.3,10.1,10,9.8,10.1,9.1,12.7,12.4,11,11.2,7.3
17,00AQ,Harrow,10.6,12.6,12.1,13.3,11.6,10.5,12.1,13.1,17.5,15.5,16.2,17.1,20.6,16.2,18.3
18,00AR,Havering,15.2,15,15.9,16.6,15.1,20.2,21.5,19.5,21.5,21.3,19.6,16.6,16.9,16.7,16.8
19,00AS,Hillingdon,16.1,13.5,14.1,12.9,13.5,16,12,12.4,17.1,15.1,15.4,17,12.6,11.3,12.8
20,00AT,Hounslow,13.2,14.2,13.6,9.5,9.2,10.8,8.9,10.3,9.3,8.6,8.8,13.1,10.3,14.4,13.6
21,00AU,Islington,9.6,7.1,7.5,8.3,8.3,8.8,6.6,6.1,6.9,7.3,7.2,9.1,9.9,11.5,6.9
22,00AW,Kensington and Chelsea,11.8,8.9,7.8,9.4,5.8,5.6,9.6,9.1,8.6,7.9,7,8.7,10.5,8.5,9.2
23,00AX,Kingston upon Thames,15.9,13.2,14.3,12.1,17.5,15.7,11.8,10.8,14.3,12.8,12.9,16,15.1,13.1,11.7
24,00AY,Lambeth,7,9.3,10.9,9.6,9.8,8,8,7.6,12.2,9.7,9.6,8.8,10.4,13.2,9.4
25,00AZ,Lewisham,12.3,11,10.5,15.7,13.2,12.8,12.4,12.1,11.7,13.2,13.7,13.3,14.7,16,10.1
26,00BA,Merton,11.1,10.1,9.8,9.7,9.2,12,9.7,11.3,17.7,12.5,13.1,12,13.7,15.2,12.7
27,00BB,Newham,8.6,9,8.8,10.3,10.7,8,9.9,9.8,10.9,12.1,13.6,14,9.4,13.2,14.6
28,00BC,Redbridge,10.4,8.6,14.7,13.1,11.8,12.1,14.4,16.5,15.1,14,14.2,15.1,13.8,17,14.9
29,00BD,Richmond upon Thames,15.7,12.7,10.4,10.7,11.4,12.9,13.1,14.7,13.1,11.5,12,11.1,10.2,10.6,10.2
30,00BE,Southwark,9.5,9.6,8,12.3,10.6,8.3,10.9,9.5,8.9,10.6,9.2,11.8,12.3,9.6,7.3
31,00BF,Sutton,16.2,18.8,17.5,12.7,14.1,14.9,13.1,15,17.3,13.9,14.9,13.8,16.1,14.6,14.6
32,00BG,Tower Hamlets,10.7,8.8,10.9,8.4,9.9,12.1,11.3,9.8,8.6,12.6,15.1,15.4,13.9,11.2,6.6
33,00BH,Waltham Forest,8.1,7.9,11.9,14.9,15.8,12.8,11.9,10.6,12.1,11.9,13.6,13.4,11.3,10.8,12.2
34,00BJ,Wandsworth,11.5,10.6,9.3,9.8,7.6,8.6,5.9,6.6,10.1,10.1,5.7,9,9.2,5.5,5.8
35,00BK,Westminster,7,6.2,9,8.8,8.5,9.4,6.6,6.7,10.5,9.2,6,8,8.3,12.1,8.2
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,16,16.8,17.2,17.2,17.9,17,17.7,19.1,19.1,19.7,20.6,20.3,19.8,19,19.2
38,B,North West,16.1,16,16.8,17,16.7,16.6,17.5,17.8,18.5,18.2,18.5,18.6,18.4,18.3,18.3
39,D,Yorkshire and The Humber,15.9,16.2,16.2,16.1,17,17.1,17.3,17.5,18.2,17.9,18.6,19,19.1,17.8,19.2
40,E,East Midlands,16.5,16.2,15.8,16,15.7,17.4,17.8,18.4,19.4,18.7,19.3,18.8,19.5,18.6,19.4
41,F,West Midlands,15.4,15.2,15.5,15.8,16.5,16.1,16.7,17.3,18.2,18.6,18.4,17.1,17.3,18,18.3
42,G,East,14.3,15,14.3,15,15.7,16.2,15.8,17.3,17.6,17.2,18,17.3,17.4,17.5,16.6
43,H,London,11.6,11.5,11.6,11.8,11.4,11.5,11.6,11.6,13.3,12.4,13,13.2,12.6,12.7,11.4
44,J,South East,15.7,16.3,16.2,16.3,16.8,16.2,16.6,17.6,18.4,17.7,17.5,17.2,17.2,18.3,18
45,K,South West,16.5,16.6,16.7,17.6,17.9,18.3,17.7,18.1,19,19.8,19.3,19.2,19.7,19.4,20
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,15.1,15.3,15.4,15.6,15.9,15.9,16.2,16.8,17.6,17.3,17.6,17.3,17.3,17.3,17.2
48,924,Wales,15.3,15.6,16.3,16.6,16.8,17.4,16.8,17.4,18,19.1,18.6,17.9,17.6,17.5,18
49,923,Scotland,14.9,16.2,15.8,15.8,16.1,15.9,15.8,15.6,14.6,15,14.4,14.3,13.8,13.4,13.2
50,922,Northern Ireland,13,13.6,14.3,14.6,14.9,15.2,14.6,14.4,16.1,15.8,15,15.3,17.2,16.6,16.5
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,15.1,15.3,15.4,15.7,15.9,16,16.2,16.8,17.6,17.4,17.7,17.4,17.3,17.3,17.3
53,925,Great Britain,15.1,15.4,15.4,15.7,16,16,16.2,16.7,17.4,17.2,17.4,17.1,17,17,16.9
54,926,United Kingdom,15.1,15.4,15.4,15.7,15.9,16,16.1,16.6,17.3,17.2,17.3,17.1,17,17,16.9

In [31]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [32]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,10.8,12,11.2,10.8,10.6,15.5,9.7,13.7,15.2,13.1,12,17,13,14.5,12.6

In [33]:
df.replace('!', 0, inplace=True)

In [34]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,10.8,12,11.2,10.8,10.6,15.5,9.7,13.7,15.2,13.1,12,17,13,14.5,12.6
5,00AC,Barnet,13.3,12.2,10,12,11,13.2,12.1,10.9,12.5,10.6,14.6,14.4,9.9,8.7,11.9
6,00AD,Bexley,17.3,17.8,17.5,15.1,15.5,15.7,17,19,17.9,14.2,16.9,16.8,19.5,18.2,15.3
7,00AE,Brent,11.1,15.3,9.7,6.7,10.7,7.8,10.3,14.8,17.8,14.9,14.3,14.4,14.1,15,14.4

In [35]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'nvq3-qualifications-overtime.csv')

### NVQ2 over time

In [36]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)
nq04 = df04[40]

In [37]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[40]

In [38]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[40]

In [39]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[40]

In [40]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[40]

In [41]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[40]

In [42]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[40]

In [43]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[40]

In [44]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[40]

In [45]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[40]

In [46]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[40]

In [47]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[40]

In [48]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[40]

In [49]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[40]

In [50]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[40]

In [51]:
df = df18

In [52]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [53]:
df.drop(bulk, axis=1, inplace=True)

In [54]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,0,1,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,12.7,12,15.2,14.2,12.2,13.4,16.5,16.3,19.2,14.6,15.4,13.9,14.6,16.4,15.6
5,00AC,Barnet,13,9.9,11,7.9,9.3,11.8,8.7,9.3,11.2,9.9,8.7,10.4,7.3,7.2,9.9
6,00AD,Bexley,22.4,20.3,17.7,21.4,20,20.2,20.2,19.2,20.4,22.9,21.8,17.8,16.6,16.1,14.5
7,00AE,Brent,8.7,7.5,8.3,9.9,9.1,8.8,8.9,11.4,10.5,9.3,9.4,10.3,9.9,11.4,15.8
8,00AF,Bromley,15.2,14.9,14,17,15.8,19.1,17.8,12.8,11.6,13.1,13.7,13.7,11.5,13.8,13.3
9,00AG,Camden,7.1,7,6.8,6.9,7,8,8.4,7.2,7.6,5.9,5.2,5.9,5.3,4.8,4.9
10,00AH,Croydon,14.6,14.4,14.5,12.6,13.7,14.7,14.4,16.5,14.1,11.7,12.8,13.1,12.1,13.4,12.3
11,00AJ,Ealing,9.9,8.7,9.4,6.4,10.3,8.5,8.8,7.4,12,10.6,10.6,8.4,5.5,7.1,6.2
12,00AK,Enfield,12.5,10.1,11.6,11,11.5,9.9,13.2,12.5,13.4,14.2,10.1,11.1,16.2,12.4,8
13,00AL,Greenwich,14,13,15.2,13.6,14.6,12.2,12.6,10.7,14.4,13.9,12.6,10.4,13.4,10.1,9.8
14,00AM,Hackney,7.5,8.2,11.9,9.8,8.7,8.7,10.6,12.5,10.9,9.1,8.2,9.3,8.1,6.2,6.9
15,00AN,Hammersmith and Fulham,4,6.1,5.3,4.8,7,6.2,6.9,5.5,5.7,4.8,6,4.5,4.4,5.2,5.3
16,00AP,Haringey,8.9,10,8.2,9.1,5.3,6.9,8.5,9.6,7.9,9.6,6.8,6.3,5.3,7.9,6.1
17,00AQ,Harrow,12.3,12.2,10.4,10.9,13,10.8,11.3,12.7,9.1,10.7,8.1,7.1,9.4,11,11.9
18,00AR,Havering,22.9,15.6,15.9,16.7,19.2,18.7,18,21.8,21.1,21.8,23.1,17.2,18.8,21.5,17.8
19,00AS,Hillingdon,14.6,12.4,13.7,12.1,16.9,13,16.7,15.5,16.1,14.1,11.1,13.6,14.1,12.8,11
20,00AT,Hounslow,11.6,11.2,10.2,10.8,9,12.2,10.8,12.4,12.1,12,10.5,10.1,10.3,8.7,9
21,00AU,Islington,7.5,8.4,10.8,10.9,8.6,9.1,4.9,5.5,7.4,4.7,5.6,4.8,7,7.9,6.6
22,00AW,Kensington and Chelsea,3.8,6.8,6,5.9,5.3,4.9,6.7,5,7.6,7,5,6,7.1,6.2,4.7
23,00AX,Kingston upon Thames,10.7,13.3,11.6,11.9,8.2,9.8,8.9,12.9,11.3,11.3,11.4,7.8,6.9,11.6,6.9
24,00AY,Lambeth,7.6,9.6,9,8.4,8.9,6.8,8.4,5.2,7.1,5.6,5.4,4.1,7.7,2.8,5.7
25,00AZ,Lewisham,11.4,9,13.5,13.8,10,11.9,10.5,8.7,6.7,9,9.5,9.1,10.2,9.2,8.8
26,00BA,Merton,11.1,9.6,9.4,10.7,11.8,9,8.7,9.4,9.3,7.1,9.8,7.9,6.1,7.8,9.4
27,00BB,Newham,11.7,11.2,9,10.2,10.2,9.6,10.7,8.2,11.9,10.8,10.2,7.8,7.4,8.7,6
28,00BC,Redbridge,14.7,12,10.6,8.3,11.5,13.3,11.2,13.7,11.2,13,10.2,9.2,11,8.2,11.2
29,00BD,Richmond upon Thames,7.4,8.8,9.8,9,8.4,9.3,8.6,8.6,6.8,7.9,6.9,5.3,6.1,6.9,5.5
30,00BE,Southwark,8.5,5.5,10.6,10.3,6.4,7.9,7.6,7,8.3,7.4,7.5,7.2,7.6,5.6,5.3
31,00BF,Sutton,18.4,16.3,16.2,19.3,20.4,13.4,16.3,16.7,16.9,12.5,13.7,16.1,12.9,9.8,11.8
32,00BG,Tower Hamlets,10.3,7.8,9.2,7.8,10,10.6,7.7,8.9,8.6,9.9,11.9,10.4,7.5,7.9,8.9
33,00BH,Waltham Forest,15.5,17.2,14.1,10.7,9.3,8.1,10.3,13.5,10.7,13.4,11.7,11.6,8,9.9,9.1
34,00BJ,Wandsworth,9.4,6.6,5.8,5.6,5,5.9,6.2,5.9,5.1,4.8,7,4.3,5.5,5.9,6.1
35,00BK,Westminster,7.2,7,6.9,6.5,7.3,5.9,4.9,5.6,4.3,5.7,5.1,5.6,5.7,4.4,5.4
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,17.9,18.9,18.2,18.6,19,18.9,18.7,20.5,19.2,18.4,19.1,18.3,18.9,18.2,18.4
38,B,North West,16.7,16.7,17.1,17.5,17.5,17.9,17.4,18.4,17.7,18,18.7,17.5,17,17,16.2
39,D,Yorkshire and The Humber,16.1,17,16.7,16.6,17,16.8,17.3,18.9,17,17.5,17.5,16.1,16.2,16.1,15.6
40,E,East Midlands,15.5,15.2,15.6,16.1,16.9,16.9,16.8,18,17.8,17.2,17.8,17.5,17.5,16.6,15.5
41,F,West Midlands,16.3,17.6,17.3,17,17.5,17.3,17.1,18.4,17.9,16.7,16.9,16.9,16.8,17.2,16.9
42,G,East,16.6,16.9,16.8,16.2,16.8,17,17.3,18.8,18.5,18.9,17.6,17.5,16.3,17.4,17.3
43,H,London,11.6,10.7,11,10.7,10.7,10.6,10.7,10.8,10.9,10.5,10.1,9.4,9.3,9.2,9
44,J,South East,15.7,16,16,16,15.6,16.2,16.6,16.2,16.7,16.8,16,15.9,15,15.2,14.8
45,K,South West,16.5,17.3,17,16.4,16.4,17.1,17,17.6,17.9,17.8,17,16.7,16.5,16,15.4
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,15.6,15.9,15.8,15.7,15.9,16.1,16.1,16.9,16.6,16.4,16.2,15.6,15.2,15.2,14.8
48,924,Wales,17.7,18.2,17.6,17.7,17.7,17.2,17.8,18,17.5,16.8,16.8,17.2,16.6,17.3,16.3
49,923,Scotland,12.8,13.6,13.8,13.8,13.7,14.1,14,14.5,14.3,14.2,13.7,13.6,12.6,13.1,12.7
50,922,Northern Ireland,16,16.5,17.2,16.8,14.9,14.6,16.3,16.3,16.1,15.8,16.1,16.1,16.6,14.8,15.5
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,15.7,16,15.9,15.8,16,16.1,16.2,16.9,16.6,16.4,16.2,15.7,15.3,15.3,14.9
53,925,Great Britain,15.4,15.8,15.7,15.7,15.8,16,16,16.7,16.4,16.2,16,15.5,15.1,15.1,14.7
54,926,United Kingdom,15.4,15.8,15.8,15.7,15.8,15.9,16,16.7,16.4,16.2,16,15.5,15.1,15.1,14.7

In [55]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [56]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,12.7,12,15.2,14.2,12.2,13.4,16.5,16.3,19.2,14.6,15.4,13.9,14.6,16.4,15.6

In [57]:
df.replace('!', 0, inplace=True)

In [58]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,12.7,12,15.2,14.2,12.2,13.4,16.5,16.3,19.2,14.6,15.4,13.9,14.6,16.4,15.6
5,00AC,Barnet,13,9.9,11,7.9,9.3,11.8,8.7,9.3,11.2,9.9,8.7,10.4,7.3,7.2,9.9
6,00AD,Bexley,22.4,20.3,17.7,21.4,20,20.2,20.2,19.2,20.4,22.9,21.8,17.8,16.6,16.1,14.5
7,00AE,Brent,8.7,7.5,8.3,9.9,9.1,8.8,8.9,11.4,10.5,9.3,9.4,10.3,9.9,11.4,15.8

In [59]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'nvq2-qualifications-overtime.csv')

### NVQ1 over time

In [60]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)
nq04 = df04[52]

In [61]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[52]

In [62]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[52]

In [63]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[52]

In [64]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[52]

In [65]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[52]

In [66]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[52]

In [67]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[52]

In [68]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[52]

In [69]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[52]

In [70]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[52]

In [71]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[52]

In [72]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[52]

In [73]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[52]

In [74]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[52]

In [75]:
df = df18

In [76]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [77]:
df.drop(bulk, axis=1, inplace=True)

In [78]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,0,1,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,20.8,19.5,19.5,15,14,14.3,13.1,14.3,12.7,12.9,11.3,8.9,9.7,9.1,10.2
5,00AC,Barnet,6.2,6.1,7.3,9,9.8,7.4,5.8,7.5,8.2,8.2,7.4,6.4,7.6,3.3,4
6,00AD,Bexley,19.9,18.6,19.5,18.1,16.7,16,16.7,17.2,14,15,13.9,13,11.3,13.4,11.4
7,00AE,Brent,7.6,4.7,9.1,5.4,6.2,5.6,6.4,9.2,4.5,8.6,5.7,6.4,8.1,7.5,5.3
8,00AF,Bromley,13,13.7,11.7,11.4,12.7,11.7,9.4,10.5,11.5,8.9,9.9,8.6,8.4,7.5,4.3
9,00AG,Camden,4.6,6.7,4.9,5.9,7.3,5.1,5.8,5.2,4.4,4.1,3.6,4.3,4.2,2.7,5.4
10,00AH,Croydon,18.1,15.2,11,11.1,14.5,12.5,11.4,12,11.6,9,6.9,8.8,6.1,6.6,5.8
11,00AJ,Ealing,8.6,8.7,7.7,5.6,5.5,7.9,5.2,6.8,6,9,3.5,6.2,7.9,7,4.9
12,00AK,Enfield,15.3,16,9.5,11,11.7,10.5,12.5,12.5,12,10.9,12.4,7.3,7.8,9.7,11
13,00AL,Greenwich,12.5,11.9,10.4,11.1,9.8,11,12.1,9,9,6.8,6.1,9.6,7.2,4.6,6.5
14,00AM,Hackney,7.8,7.6,5.2,6.9,4.7,6.5,6.1,7.3,7,7.5,6.7,7.3,6,5,4.2
15,00AN,Hammersmith and Fulham,4.3,7,5.9,5.3,7,6.5,5.7,5.4,4.8,5.3,5,4.5,3.7,3.8,5.6
16,00AP,Haringey,8.6,7.6,6.4,6.5,5.7,4,6.5,4.7,4.8,5.5,6.3,5.4,5.6,4.1,4.2
17,00AQ,Harrow,8.7,8.7,8.5,9.1,5.7,7.9,5.2,4.8,5.4,6.1,5.8,6.3,5.6,2.7,3.7
18,00AR,Havering,18.9,19.9,15.9,20.8,20.6,23.1,16.7,18,15.5,14.5,13.6,19.5,17,14.1,13.7
19,00AS,Hillingdon,13.2,10.3,10.6,14.4,13,11.8,12.8,13,11,10.4,10.9,9.2,8.1,8.5,9.2
20,00AT,Hounslow,12.9,12.7,9.1,10.7,8.4,7.7,8,9.3,8.5,8.8,6.5,6.4,5.9,6,7.2
21,00AU,Islington,8,7.7,6.8,7.5,6.5,4.9,4.8,7.6,7.7,4.5,6.1,5.2,5.2,2.5,4.5
22,00AW,Kensington and Chelsea,2.7,4.7,3.4,3.3,3.6,2.8,3.2,5.2,4.1,4.3,5.1,4.1,5,5.2,6.9
23,00AX,Kingston upon Thames,11,9.2,9.7,7.6,6.1,6.7,6.2,10.9,6.8,7.6,6.3,4.8,4.6,3.5,4.5
24,00AY,Lambeth,6.8,6.7,3.5,5.6,7,6.1,4.6,5.1,6.8,3.8,6.5,3.4,2.4,3,3.7
25,00AZ,Lewisham,11.7,12.3,11.6,8.5,8.4,9,5.5,6.8,5.2,6.6,5.3,6.5,7.5,7.3,5.4
26,00BA,Merton,8.3,8.5,9.9,9.1,11.6,8.9,5.9,9.6,7.9,6.4,4.9,5.7,5.9,5.2,7.7
27,00BB,Newham,12.6,11.2,10.1,10.3,8.3,8.9,5.9,7.5,4.1,4,5,4.5,5.6,6.1,7.4
28,00BC,Redbridge,13.4,12.3,10.5,9.2,9.9,9.5,5.5,6.1,6.3,6.6,8.2,9.4,4.9,5.9,5.5
29,00BD,Richmond upon Thames,4.6,4.9,6.2,5,5.7,6.3,8.5,6.7,4.7,4,3,2.8,4.1,3.8,3.2
30,00BE,Southwark,7.6,8,6.8,5.8,7.1,8.6,6.4,5.2,4.6,5.3,4.1,5,3.9,2.7,3.6
31,00BF,Sutton,16.1,14.4,13.8,11.7,12.1,11,13.4,12.4,8.9,12.6,8.9,12.2,10.3,6.4,7
32,00BG,Tower Hamlets,9.4,10,8.6,12.3,5.8,5.9,4.7,6.3,3.6,6.5,6.5,5.6,3.6,3.5,3.8
33,00BH,Waltham Forest,14.3,9.7,12,10.6,12.6,10.4,8.6,10.3,8.5,6.1,8.3,6.9,7.4,7.6,7.6
34,00BJ,Wandsworth,4.9,6.1,4.8,2.8,5.6,5,4.6,6.5,3.1,3.9,1.8,2.5,2.3,1.7,2.9
35,00BK,Westminster,3.5,4.7,5.3,4.5,4.3,4.3,4.7,3.8,2.4,2.8,3.5,6.1,3.4,3.7,2.7
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,15.4,15.3,14.6,13.3,13.4,14.1,13.3,12.7,13.6,12.7,12,11.3,10.4,10.6,10.5
38,B,North West,14.8,14.5,14.5,13.9,13.8,13.6,12.9,13.2,12.6,12.1,11,10.5,10.7,10.3,9.9
39,D,Yorkshire and The Humber,15.8,15.4,15.5,15.4,14.9,14.5,14.1,13.8,12.4,12.9,12.6,12,11.7,11.7,11.2
40,E,East Midlands,15.6,16.3,15.6,15.5,15.8,14.6,12.7,13.6,13.2,12.8,12.7,12.1,11.6,11.7,10.8
41,F,West Midlands,14.8,14.7,14.1,14.2,14.7,14.5,14.2,13.4,12.2,11.9,11.8,11.5,11.1,10.7,10.2
42,G,East,16.2,16.3,15.7,15.6,15.6,15.4,15.1,14.3,12.8,12.6,13.2,12.6,12.6,12.5,12.6
43,H,London,10.5,10.2,9.1,9,9,8.7,7.8,8.6,7.3,7.3,6.8,6.9,6.3,5.7,5.9
44,J,South East,15,14.9,14.7,13.8,14.3,13.5,12.7,12.5,11.8,11,11.3,11.2,10.6,10.3,9.9
45,K,South West,16.2,15.5,15,14.4,15.1,14.7,12.7,12.7,12.3,11.6,12.1,11,10.9,10.5,10.2
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,14.7,14.5,14.1,13.7,13.8,13.4,12.5,12.5,11.6,11.3,11.1,10.7,10.3,10.1,9.8
48,924,Wales,13.5,14.1,13.5,13.2,12.6,12.1,11.8,12.2,11.5,11.2,10.7,10.6,10.3,10.4,10.2
49,923,Scotland,10.9,10.7,10.2,10,9.6,9.6,9.4,9.3,9.9,9.3,9,8.8,8.1,8.6,8
50,922,Northern Ireland,10.5,11,11.1,10.8,9.9,10.4,10.2,10.2,10.6,11.3,10,9.9,7.7,8.1,7.4
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,14.6,14.5,14,13.6,13.8,13.3,12.5,12.5,11.6,11.3,11.1,10.7,10.3,10.1,9.8
53,925,Great Britain,14.3,14.2,13.7,13.3,13.4,13,12.2,12.2,11.5,11.1,10.9,10.5,10.2,10,9.6
54,926,United Kingdom,14.2,14.1,13.6,13.2,13.3,12.9,12.1,12.2,11.5,11.1,10.9,10.5,10.1,9.9,9.6

In [79]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [80]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Code,Area,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,20.8,19.5,19.5,15,14,14.3,13.1,14.3,12.7,12.9,11.3,8.9,9.7,9.1,10.2

In [81]:
df.replace('!', 0, inplace=True)

In [82]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,20.8,19.5,19.5,15,14,14.3,13.1,14.3,12.7,12.9,11.3,8.9,9.7,9.1,10.2
5,00AC,Barnet,6.2,6.1,7.3,9,9.8,7.4,5.8,7.5,8.2,8.2,7.4,6.4,7.6,3.3,4
6,00AD,Bexley,19.9,18.6,19.5,18.1,16.7,16,16.7,17.2,14,15,13.9,13,11.3,13.4,11.4
7,00AE,Brent,7.6,4.7,9.1,5.4,6.2,5.6,6.4,9.2,4.5,8.6,5.7,6.4,8.1,7.5,5.3

In [83]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'nvq1-qualifications-overtime.csv')