## Importing the required data

- upload jobs residency xlsx table to 'data'

## Converting xlsx file to pandas dataframe

- install openpyxl, import load_workbook and pandas
- load xlsx workbook --> access required sheet
- convert to dataframe with .values

In [1]:
#to open xlsx files
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.5.8)
Requirement already satisfied: et-xmlfile in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.4)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from openpyxl import load_workbook
wb = load_workbook('./data/unemployment-region.xlsx', data_only=True)

In [5]:
ws = wb["Unemployed"]

In [6]:
unem = pd.DataFrame(ws.values)
unem.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,Quarter ending,2009-04-01 00:00:00,2010-04-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,...,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,NaN
1,Numbers ('000s),None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
2,London,352039,388583,402787,421044,428762,436311,446967,431523,439968,...,206608,217972,214018,208890,208763,221989,225144,225416,222479,4.544909
3,United Kingdom,2.29641e+06,2.50954e+06,2.46151e+06,2.50044e+06,2.53972e+06,2.55621e+06,2.61194e+06,2.66435e+06,2.67965e+06,...,1.33844e+06,1.34262e+06,1.29784e+06,1.30422e+06,1.29206e+06,1.32903e+06,1.29368e+06,1.31358e+06,1.30554e+06,NaN
4,England,1.95118e+06,2.10613e+06,2.07217e+06,2.11101e+06,2.13546e+06,2.16233e+06,2.20053e+06,2.24767e+06,2.24843e+06,...,1.14504e+06,1.15295e+06,1.11153e+06,1.11648e+06,1.11279e+06,1.13846e+06,1.10009e+06,1.11172e+06,1.11389e+06,NaN

## Clearing dataframe

- drop last rows by slicing
- aggregate all value outside London into one 'Outside London' category with Code 'X00000000'
- make coloumn 0 and row 0 axes labels

In [7]:
unem = unem[:32]
unem.tail()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
27,East Midlands,7.52563,7.40281,7.73925,7.91678,7.96382,7.98632,7.91322,8.11219,7.95403,...,4.68247,4.24086,4.02518,4.29397,4.23455,4.28119,4.63665,4.5038,4.46358,NaN
28,West Midlands,9.39848,9.06378,8.97463,8.631,8.51047,9.03128,8.97367,9.04953,9.22739,...,5.07081,5.20426,5.07464,4.95864,4.7914,4.56621,4.1561,3.98279,4.09111,NaN
29,East of England,6.06294,6.6439,6.2966,6.66408,6.63971,6.59407,6.78604,6.98945,7.25582,...,3.19494,3.10803,2.92088,2.97793,2.84424,2.9421,3.06305,3.36407,3.13019,NaN
30,South East,5.43667,6.29953,5.71215,5.72755,5.87219,5.83497,5.85799,6.29666,6.16538,...,3.13281,3.25968,3.18049,3.00554,2.81132,2.9044,2.79802,3.08966,3.1515,NaN
31,South West,5.7954,5.96798,6.42529,6.40087,6.59081,6.59343,6.55639,6.55237,6.4701,...,2.91652,2.6296,2.41576,2.68778,2.62628,2.70987,2.35096,2.38897,2.57935,NaN

In [8]:
unemkey = unem[0:1]

In [9]:
unem = unem[18:32]

In [10]:
unem = pd.concat([unemkey, unem], ignore_index=True)
unem.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,Quarter ending,2009-04-01 00:00:00,2010-04-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,...,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,NaN
1,London,8.50765,9.3147,9.36835,9.77192,9.94552,10.1402,10.4083,10.0703,10.1923,...,4.21028,4.45851,4.36961,4.27653,4.26504,4.5405,4.63524,4.63148,4.54491,NaN
2,United Kingdom,7.27444,7.95238,7.71698,7.82196,7.94003,8.01288,8.18513,8.34125,8.37996,...,3.93056,3.94153,3.8178,3.83027,3.79561,3.89284,3.79705,3.86274,3.8332,NaN
3,England,7.33549,7.91884,7.71627,7.84833,7.93827,8.05183,8.18973,8.36138,8.35744,...,3.97611,4.0005,3.86432,3.87787,3.86505,3.9406,3.81289,3.85572,3.85811,NaN
4,Wales,7.70911,8.5466,7.79808,7.89118,8.41405,8.46556,9.06194,9.33997,9.2585,...,4.27279,4.48482,4.53767,4.37411,3.82434,3.9171,3.7701,4.18866,3.84444,NaN

In [11]:
unemkey.drop(0, axis=1, inplace=True)

In [12]:
unemkey.drop(105, axis=1, inplace=True)

In [ ]:
key = unemkey[unemkey.iloc[0]].squeeze()

In [13]:
unemkey.iloc[0].strftime('%Y-%m')

AttributeError: 'Series' object has no attribute 'strftime'

In [38]:
unem.columns = unem.loc[0]
unem.drop(0, axis=0, inplace=True)
unem.head()

,Quarter ending,2009-04-01 00:00:00,2010-04-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,...,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,nan
1,London,8.50765,9.3147,9.36835,9.77192,9.94552,10.1402,10.4083,10.0703,10.1923,...,4.21028,4.45851,4.36961,4.27653,4.26504,4.5405,4.63524,4.63148,4.54491,NaN
2,United Kingdom,7.27444,7.95238,7.71698,7.82196,7.94003,8.01288,8.18513,8.34125,8.37996,...,3.93056,3.94153,3.8178,3.83027,3.79561,3.89284,3.79705,3.86274,3.8332,NaN
3,England,7.33549,7.91884,7.71627,7.84833,7.93827,8.05183,8.18973,8.36138,8.35744,...,3.97611,4.0005,3.86432,3.87787,3.86505,3.9406,3.81289,3.85572,3.85811,NaN
4,Wales,7.70911,8.5466,7.79808,7.89118,8.41405,8.46556,9.06194,9.33997,9.2585,...,4.27279,4.48482,4.53767,4.37411,3.82434,3.9171,3.7701,4.18866,3.84444,NaN
5,Scotland,6.72474,8.2354,7.83175,7.74255,7.88809,7.58857,7.90034,7.97506,8.6082,...,3.39135,3.32939,3.22574,3.26065,3.28675,3.64535,3.95444,4.07012,3.99655,NaN

In [48]:
unem.columns()

TypeError: 'Index' object is not callable

In [39]:
unem.rename(columns = lambda t: t.strftime('%Y-%m'))

AttributeError: 'str' object has no attribute 'strftime'

In [24]:
unem[2010-04-01 00:00:00]

KeyError: '2010-04-01 00:00:00'

In [30]:
jobres.set_index('Code', inplace = True)
jobres.head()

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395

## Creating new category: % working residents that work where they live
- extract relevant data on workers that work where they live
- calculate the value by dividing that + domestic workers by working residents

In [31]:
df = jobres.drop('OD0000001', axis=1)
df

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000003,TOTAL_RESIDENTS,X00000000
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,41,1218,89,4279,1292,235,6350,10296,75493,6167
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,383,2357,68,3461,585,567,24662,19791,172470,13371
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,91,4177,136,3656,241,599,12986,11979,110680,12752
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,522,2061,101,2405,276,846,22519,21202,148292,7804
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,230,6175,887,4946,219,1297,22449,14197,152363,11395
E41000298,51,1918,47,1677,65,23151,98,718,415,216,...,303,2507,49,4192,254,594,29719,8722,110168,4300
E41000299,90,270,373,367,6457,3704,48412,483,193,714,...,635,5387,6806,3109,197,5491,17385,17006,173926,17238
E41000300,53,1268,37,6238,78,4956,164,34302,330,200,...,1970,1868,114,2154,197,1161,19381,20284,165800,11031
E41000301,344,6641,74,1140,91,6241,127,664,37198,260,...,134,1859,57,2758,2193,401,13690,15106,138390,11629
E41000302,328,317,5816,434,3329,3835,631,310,283,23759,...,170,5689,210,6884,437,904,17009,13612,118330,6886
E41000303,273,1022,91,706,130,9760,129,592,1205,449,...,196,3351,76,7259,1653,732,21861,12556,119051,3803
E41000304,20,401,42,1162,68,4674,150,2665,156,133,...,1147,1938,103,2734,115,2076,26202,8112,100148,4132
E41000305,218,3439,62,1138,72,11983,142,776,4954,317,...,234,2582,72,3287,1404,594,21687,16423,124845,5218
E41000306,62,5040,18,10364,51,4146,129,5024,433,130,...,355,1272,44,2182,162,355,11817,12440,114755,12438
E41000307,7110,219,415,151,156,2112,99,180,515,390,...,55,1601,49,5416,1109,175,12294,12695,113551,14732
E41000308,37,784,25,3052,95,2228,107,9560,207,109,...,706,879,60,1123,111,348,7790,12223,130973,17442
E41000309,29,340,42,1155,81,2398,199,6732,135,101,...,7752,1191,165,1356,94,1110,10294,13131,127613,14480
E41000310,78,1235,51,621,103,13297,149,548,887,210,...,187,3090,62,4741,482,639,27343,8768,107255,3914
E41000311,16,269,16,664,50,3281,127,778,120,87,...,338,1280,50,3955,98,969,27520,5750,82386,3301
E41000312,23,121,44,202,99,1872,517,490,56,85,...,3755,1318,1340,1444,32,2661,8867,6934,82434,11915
E41000313,83,540,227,612,1007,9995,2867,775,297,702,...,953,10682,856,5540,282,8639,41618,16485,167205,6450
E41000314,156,411,1293,475,6437,6021,2164,495,287,5360,...,279,11735,512,6228,345,1958,22769,14320,136570,5302
E41000315,37,235,58,321,319,3530,2775,579,117,208,...,1264,2749,3929,2516,108,8798,16210,11159,105369,7458
E41000316,2851,659,319,913,343,5132,269,709,1066,1311,...,214,3110,125,11592,3243,864,18262,21268,132787,6864
E41000317,4611,627,116,492,186,4238,153,421,1426,571,...,87,2315,63,8766,5236,361,16760,14113,125362,9661
E41000318,17,167,28,438,60,2978,194,1503,115,104,...,18671,1776,271,2121,34,2128,14773,7634,99916,10389
E41000319,188,488,440,640,1104,8027,1170,561,268,1723,...,456,25310,347,7802,391,2997,34059,14351,147995,5545
E41000320,16,105,94,158,589,1589,5850,279,59,163,...,812,1608,23989,1216,51,3785,7927,10050,98207,13794
E41000321,561,445,215,386,360,6315,219,467,367,739,...,248,4057,118,30488,943,700,29376,10282,121244,4903
E41000322,976,1001,100,723,144,6137,183,564,3422,535,...,145,2320,81,5282,21581,587,16787,18384,121461,6929
E41000323,36,431,81,738,348,8626,1480,1241,260,353,...,2674,6000,1115,6632,187,23925,46072,13949,179439,9253
E41000324,33,712,36,1506,108,7593,164,1080,190,144,...,321,2407,63,5897,187,935,49438,7972,117303,5389
TOTAL_WORKERS,43647,89244,54602,81732,81922,250615,88324,97801,78599,63391,...,57322,157768,53852,216232,52000,87897,917068,2513680,30008634,19673047
X00000000,10042,17220,15370,11363,13867,51664,13837,14621,17518,9605,...,11994,31899,11845,50811,8261,10466,241192,2092486,25986853,19387162

In [32]:
df.drop('OD0000003', axis=1, inplace=True)
df.drop('X00000000', axis=1, inplace=True)
df.drop('TOTAL_RESIDENTS', axis=1, inplace=True)
df.drop('TOTAL_WORKERS', axis=0, inplace=True)
df.drop('X00000000', axis=0, inplace=True)
df

,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,E41000302,...,E41000315,E41000316,E41000317,E41000318,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324
Code,,,,,,,,,,,,,,,,,,,,,
E41000293,14650,280,155,290,104,1855,110,250,653,412,...,85,4829,5389,41,1218,89,4279,1292,235,6350
E41000294,144,36031,42,5908,91,14006,131,1787,4457,250,...,208,601,338,383,2357,68,3461,585,567,24662
E41000295,323,131,25876,161,4846,2391,510,177,175,10807,...,191,846,142,91,4177,136,3656,241,599,12986
E41000296,56,6268,37,27338,84,8735,189,8195,678,221,...,284,435,145,522,2061,101,2405,276,846,22519
E41000297,135,209,2962,199,41000,4145,4879,275,157,3023,...,667,518,64,230,6175,887,4946,219,1297,22449
E41000298,51,1918,47,1677,65,23151,98,718,415,216,...,165,370,81,303,2507,49,4192,254,594,29719
E41000299,90,270,373,367,6457,3704,48412,483,193,714,...,4123,433,113,635,5387,6806,3109,197,5491,17385
E41000300,53,1268,37,6238,78,4956,164,34302,330,200,...,437,374,93,1970,1868,114,2154,197,1161,19381
E41000301,344,6641,74,1140,91,6241,127,664,37198,260,...,133,1006,693,134,1859,57,2758,2193,401,13690
E41000302,328,317,5816,434,3329,3835,631,310,283,23759,...,320,1656,223,170,5689,210,6884,437,904,17009
E41000303,273,1022,91,706,130,9760,129,592,1205,449,...,169,1680,489,196,3351,76,7259,1653,732,21861
E41000304,20,401,42,1162,68,4674,150,2665,156,133,...,507,248,38,1147,1938,103,2734,115,2076,26202
E41000305,218,3439,62,1138,72,11983,142,776,4954,317,...,185,841,424,234,2582,72,3287,1404,594,21687
E41000306,62,5040,18,10364,51,4146,129,5024,433,130,...,124,237,91,355,1272,44,2182,162,355,11817
E41000307,7110,219,415,151,156,2112,99,180,515,390,...,66,3567,4882,55,1601,49,5416,1109,175,12294
E41000308,37,784,25,3052,95,2228,107,9560,207,109,...,189,168,73,706,879,60,1123,111,348,7790
E41000309,29,340,42,1155,81,2398,199,6732,135,101,...,342,220,53,7752,1191,165,1356,94,1110,10294
E41000310,78,1235,51,621,103,13297,149,548,887,210,...,143,588,186,187,3090,62,4741,482,639,27343
E41000311,16,269,16,664,50,3281,127,778,120,87,...,222,120,34,338,1280,50,3955,98,969,27520
E41000312,23,121,44,202,99,1872,517,490,56,85,...,3088,94,39,3755,1318,1340,1444,32,2661,8867
E41000313,83,540,227,612,1007,9995,2867,775,297,702,...,2287,597,93,953,10682,856,5540,282,8639,41618
E41000314,156,411,1293,475,6437,6021,2164,495,287,5360,...,651,1163,186,279,11735,512,6228,345,1958,22769
E41000315,37,235,58,321,319,3530,2775,579,117,208,...,16588,256,48,1264,2749,3929,2516,108,8798,16210
E41000316,2851,659,319,913,343,5132,269,709,1066,1311,...,300,24781,3365,214,3110,125,11592,3243,864,18262
E41000317,4611,627,116,492,186,4238,153,421,1426,571,...,111,7676,22053,87,2315,63,8766,5236,361,16760
E41000318,17,167,28,438,60,2978,194,1503,115,104,...,846,104,19,18671,1776,271,2121,34,2128,14773
E41000319,188,488,440,640,1104,8027,1170,561,268,1723,...,782,894,210,456,25310,347,7802,391,2997,34059
E41000320,16,105,94,158,589,1589,5850,279,59,163,...,7117,120,30,812,1608,23989,1216,51,3785,7927
E41000321,561,445,215,386,360,6315,219,467,367,739,...,197,2973,638,248,4057,118,30488,943,700,29376
E41000322,976,1001,100,723,144,6137,183,564,3422,535,...,226,4191,3801,145,2320,81,5282,21581,587,16787
E41000323,36,431,81,738,348,8626,1480,1241,260,353,...,4768,460,71,2674,6000,1115,6632,187,23925,46072
E41000324,33,712,36,1506,108,7593,164,1080,190,144,...,279,320,88,321,2407,63,5897,187,935,49438

In [33]:
jobres.reset_index(inplace=True)
jobres.head()

,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000319,E41000320,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000
0,E41000293,14650,280,155,290,104,1855,110,250,653,...,1218,89,4279,1292,235,6350,4764,10296,75493,6167
1,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,2357,68,3461,585,567,24662,21611,19791,172470,13371
2,E41000295,323,131,25876,161,4846,2391,510,177,175,...,4177,136,3656,241,599,12986,8663,11979,110680,12752
3,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2061,101,2405,276,846,22519,13058,21202,148292,7804
4,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,6175,887,4946,219,1297,22449,16167,14197,152363,11395

In [34]:
li = []

In [41]:
for x in df:
    li.append(df[x].loc[x])

In [42]:
li

[14650,
 36031,
 25876,
 27338,
 41000,
 23151,
 48412,
 34302,
 37198,
 23759,
 18889,
 16192,
 15155,
 21485,
 31928,
 45948,
 31030,
 16858,
 10964,
 20982,
 20718,
 20625,
 16588,
 24781,
 22053,
 18671,
 25310,
 23989,
 30488,
 21581,
 23925,
 49438]

In [43]:
lst = pd.DataFrame(li) 
lst

        0
0   14650
1   36031
2   25876
3   27338
4   41000
5   23151
6   48412
7   34302
8   37198
9   23759
10  18889
11  16192
12  15155
13  21485
14  31928
15  45948
16  31030
17  16858
18  10964
19  20982
20  20718
21  20625
22  16588
23  24781
24  22053
25  18671
26  25310
27  23989
28  30488
29  21581
30  23925
31  49438

In [44]:
jobres.reset_index(drop=True, inplace=True)

In [45]:
jobres = pd.concat([jobres, lst], axis=1)

In [46]:
jobres[0]+jobres["OD0000001"]

0     19414
1     57642
2     34539
3     40396
4     57167
5     38044
6     64299
7     49645
8     49729
9     33490
10    30949
11    26795
12    27795
13    33353
14    40762
15    57363
16    42361
17    27112
18    24932
19    30076
20    34757
21    32134
22    26197
23    33775
24    33236
25    32827
26    37718
27    32871
28    39599
29    30851
30    40788
31    66200
32      NaN
33      NaN
dtype: object

In [47]:
jobres['Residential_Workers_Rate'] = (jobres[0]+jobres["OD0000001"])/jobres["TOTAL_RESIDENTS"]
jobres.head()

,Code,E41000293,E41000294,E41000295,E41000296,E41000297,E41000298,E41000299,E41000300,E41000301,...,E41000321,E41000322,E41000323,E41000324,OD0000001,OD0000003,TOTAL_RESIDENTS,X00000000,0,Residential_Workers_Rate
0,E41000293,14650,280,155,290,104,1855,110,250,653,...,4279,1292,235,6350,4764,10296,75493,6167,14650.0,0.257163
1,E41000294,144,36031,42,5908,91,14006,131,1787,4457,...,3461,585,567,24662,21611,19791,172470,13371,36031.0,0.334215
2,E41000295,323,131,25876,161,4846,2391,510,177,175,...,3656,241,599,12986,8663,11979,110680,12752,25876.0,0.312062
3,E41000296,56,6268,37,27338,84,8735,189,8195,678,...,2405,276,846,22519,13058,21202,148292,7804,27338.0,0.272408
4,E41000297,135,209,2962,199,41000,4145,4879,275,157,...,4946,219,1297,22449,16167,14197,152363,11395,41000.0,0.375203

In [49]:
PROC_DATA_PATH = '~/library/data/processed/'
jobres.to_csv(PROC_DATA_PATH + 'residents-working-data.csv')

In [175]:
#jobres.apply(lambda x: resworker(x), axis=1)

Code
E41000293        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000294        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000295        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000296        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000297        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000298        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000299        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000300        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000301        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000302        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000303        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000304        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000305        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000306        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000307        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000308        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000309        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000310        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000311        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000312        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000313        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000314        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000315        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000316        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000317        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000318        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000319        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000320        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000321        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000322        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000323        [14650, 36031, 25876, 27338, 41000, 23151, 484...
E41000324        [14650, 36031, 25876, 27338, 41000, 23151, 484...
TOTAL_WORKERS    [14650, 36031, 25876, 27338, 41000, 23151, 484...
X00000000        [14650, 36031, 25876, 27338, 41000, 23151, 484...
dtype: object

In [42]:
#jobres1 = pd.melt(jobres_t, id_vars=['Code'], var_name = 'Code_Residency', value_name = "workers")
#jobres1

                 Code Code_Residency   workers
0           E41000293      E41000293     14650
1           E41000294      E41000293       280
2           E41000295      E41000293       155
3           E41000296      E41000293       290
4           E41000297      E41000293       104
5           E41000298      E41000293      1855
6           E41000299      E41000293       110
7           E41000300      E41000293       250
8           E41000301      E41000293       653
9           E41000302      E41000293       412
10          E41000303      E41000293      1228
11          E41000304      E41000293       433
12          E41000305      E41000293       468
13          E41000306      E41000293        60
14          E41000307      E41000293      6554
15          E41000308      E41000293       126
16          E41000309      E41000293       119
17          E41000310      E41000293      1311
18          E41000311      E41000293       561
19          E41000312      E41000293        35
20          E41000313      E41000293       565
21          E41000314      E41000293       211
22          E41000315      E41000293        85
23          E41000316      E41000293      4829
24          E41000317      E41000293      5389
25          E41000318      E41000293        41
26          E41000319      E41000293      1218
27          E41000320      E41000293        89
28          E41000321      E41000293      4279
29          E41000322      E41000293      1292
...               ...            ...       ...
1194        E41000299      X00000000     13837
1195        E41000300      X00000000     14621
1196        E41000301      X00000000     17518
1197        E41000302      X00000000      9605
1198        E41000303      X00000000     11757
1199        E41000304      X00000000     15989
1200        E41000305      X00000000      6488
1201        E41000306      X00000000     10149
1202        E41000307      X00000000     16263
1203        E41000308      X00000000     52152
1204        E41000309      X00000000     28923
1205        E41000310      X00000000     30188
1206        E41000311      X00000000     12152
1207        E41000312      X00000000     16277
1208        E41000313      X00000000     16755
1209        E41000314      X00000000      5570
1210        E41000315      X00000000      9211
1211        E41000316      X00000000     11684
1212        E41000317      X00000000      9949
1213        E41000318      X00000000     11994
1214        E41000319      X00000000     31899
1215        E41000320      X00000000     11845
1216        E41000321      X00000000     50811
1217        E41000322      X00000000      8261
1218        E41000323      X00000000     10466
1219        E41000324      X00000000    241192
1220        OD0000001      X00000000   2750521
1221        OD0000003      X00000000   2092486
1222  TOTAL_RESIDENTS      X00000000  25986853
1223        X00000000      X00000000  19387162

[1224 rows x 3 columns]

In [35]:
#jobres1 = jobres1.set_index(['Code', 'Code_Residency'])
#jobres1.head()

                         workers
Code      Code_Residency
E41000293 E41000293        14650
E41000294 E41000293          280
E41000295 E41000293          155
E41000296 E41000293          290
E41000297 E41000293          104

In [36]:
#jobres1.groupby('Code_Residency').groups.keys()
#jobres1

                                 workers
Code            Code_Residency
E41000293       E41000293          14650
E41000294       E41000293            280
E41000295       E41000293            155
E41000296       E41000293            290
E41000297       E41000293            104
E41000298       E41000293           1855
E41000299       E41000293            110
E41000300       E41000293            250
E41000301       E41000293            653
E41000302       E41000293            412
E41000303       E41000293           1228
E41000304       E41000293            433
E41000305       E41000293            468
E41000306       E41000293             60
E41000307       E41000293           6554
E41000308       E41000293            126
E41000309       E41000293            119
E41000310       E41000293           1311
E41000311       E41000293            561
E41000312       E41000293             35
E41000313       E41000293            565
E41000314       E41000293            211
E41000315       E41000293             85
E41000316       E41000293           4829
E41000317       E41000293           5389
E41000318       E41000293             41
E41000319       E41000293           1218
E41000320       E41000293             89
E41000321       E41000293           4279
E41000322       E41000293           1292
...                                  ...
E41000299       X00000000          13837
E41000300       X00000000          14621
E41000301       X00000000          17518
E41000302       X00000000           9605
E41000303       X00000000          11757
E41000304       X00000000          15989
E41000305       X00000000           6488
E41000306       X00000000          10149
E41000307       X00000000          16263
E41000308       X00000000          52152
E41000309       X00000000          28923
E41000310       X00000000          30188
E41000311       X00000000          12152
E41000312       X00000000          16277
E41000313       X00000000          16755
E41000314       X00000000           5570
E41000315       X00000000           9211
E41000316       X00000000          11684
E41000317       X00000000           9949
E41000318       X00000000          11994
E41000319       X00000000          31899
E41000320       X00000000          11845
E41000321       X00000000          50811
E41000322       X00000000           8261
E41000323       X00000000          10466
E41000324       X00000000         241192
OD0000001       X00000000        2750521
OD0000003       X00000000        2092486
TOTAL_RESIDENTS X00000000       25986853
X00000000       X00000000       19387162

[1224 rows x 1 columns]